[2019-06-15 13:02] seanyoung opened #4 "Enable llvm optimiser"
The llvm optimisation passes are not run yet. The code do this is on the opt branch, but it exposes an error in the generated IR.

[code]

[2019-06-15 13:03] seanyoung opened #5 "File not found show ugly panic"
If the solidity source is not found, the error is very ugly:

[code]

[2019-11-15 14:20] #4 closed

[2020-02-18 14:27] seanyoung opened #112 "Add ewasm integration tests with Aleth/Hera"
The ewasm target has unit tests, with its own simulated ewasm vm. However, it would be good to have some tests against a validated ewasm vm like [Aleth](https://github.com/ethereum/aleth/) or [Hera](https://github.com/ewasm/hera).

[2020-02-18 14:32] seanyoung opened #113 "Run LLVM LTO optimizations (IPO)"
Solang puts all the functions in the stdlib/stdlib.c in the wasm code, and also generated Solidity functions which are not called, can also be optimized away.
In addition, many functions will only have have one call-site so they can be inlined entirely.

LLVM provides the thinlto functions for this. This is not exposed via Inkwell, although I'm sure they would appreciate patches for this.

[2020-03-25 11:59] #5 closed

[2020-03-25 12:00] #113 closed

[2020-03-28 16:32] seanyoung opened #146 "Add new EVM LLVM code emitter"
Add new emitter which looks a lot like the existing llvm code emitter, however it should emit 256 bit registers.

https://github.com/etclabscore/evm_llvm

[2020-04-19 09:12] seanyoung opened #157 "Escapes ("\t") in string literals needs better error messages"
Currently solang uses the unescape crate. If there is an error in the escape then we don't know where or what the problem is. So, Solang should not depend on unescape and implement its own string escaping.

In addition, this would make it possible to match escaping better to solc, and even improve upon it.
 - solc does not support octal escapes (and neither should solang)
 - solc doesn't support \

[2020-04-19 09:19] seanyoung opened #158 "casting from bytesN to bytes and vice versa should be possible"
Note that bytesN is represented as llvm int, so it needs byte order swapping.

[2020-04-19 09:22] seanyoung opened #159 "If a function is declared pure, error should tell you which statement reads/writes contract storage"
[code]
This should give an error message tell you exactly where contract storage is being accessed.

[2020-04-19 21:20] #157 closed

[2020-04-22 21:05] seanyoung opened #166 "ewasm implementation is missing bytes/string storage functionality"
When storing/loading bytes or string from storage, on ewasm this must be spread out over several storage slots if the string is longer than 32 bytes. Also the length must be stored somewhere.

Most likely the easy implementation would be to do this in the stdlib, written in C.

[2020-04-27 10:38] seanyoung opened #172 "eth abi decoder can simplified in fixed-length cases"
If the eth abi decoder has to decoded only fixed length fields, then the length can be calculated at compile time, and compared once against the encoded length. All other boundary checks can be removed.

This shortens the generated code and makes the decoder more strict.

[2020-05-04 10:48] seanyoung commented on #159
The following needs to be fixed:
1. For a function declared without pure or view:
a. If no statement or expression or call to another function reads from storage, then the warning: "function can be declared pure" should be given. ELSE
b. If no statement or expression or call to another function writes to storage, then the warning: "function can be declared view should be given. ELSE
c. no warning

[2020-05-04 12:04] seanyoung commented on #158
For this is to be fixed, the following is needed:

1. Conversion from any type bytes1, bytes2, ... , bytes31, bytes32 to bytes should be possible, without an explicit cast.
[code]

1. Conversion from bytes to any type bytes1, bytes2, ... , bytes31, bytes32 to bytes should be possible, without an explicit cast. Since the bytes type has a dynamic length, this should cause a runtime failure if the si

[2020-05-04 12:27] seanyoung opened #177 "memory arrays should have push() and pop()"
Dynamic memory arrays currently cannot be resized. This is true for Solang and solc solidity. However, Solang uses a heap, and has a realloc() function. Thus it is is possible for Solang to support pop() and push() on memory arrays.

Note that push and pop already supported on contract storage arrays. Also, arrays are stored in struct vectors in Solang, which are allocated with malloc.

Steps:
- I

[2020-05-06 07:22] abdlquadri commented on #177
Looking more closely into codes, I see that we need to do the following:

1.  declare
[code]
in `expressions.rs`

2. include both in the checks `reads_contract_storage` .
3. write an expression for both in  `expr_to_string`
4. add code to handle `resolver::Type::Ref(ty) = &var_ty` which is for dynamic memory array. resolver::Type::StorageRef already handles contract storage arrays as you mentioned

[2020-05-06 14:31] seanyoung commented on #177
1. Storage is entirely different so there is nothing that can be reused from storage::array_push(). This cannot be reused at all.

2. Simply builder.build_call(.., module.get_function("__realloc").unwrap(), ...)

3. The implementation will have to be entirely different, however it will be simpler. The pointer can be reallocated with realloc, and new element added/removed.

[2020-05-06 14:47] abdlquadri commented on #177
Ok. Thanks. What do think about the steps 1-6 to resolve issue?

[2020-05-10 14:13] seanyoung commented on #159
As Solang is resolving the AST, it generates the control flow graph (CFG).
The CFG is a list of instructions and basic blocks. The instructions contain
expression. One of those instructions is Instr::SetStorage{} which is used to
 write to storage.

Every time Instr::SetStorage{} is generated, there should be some code
which checks "am I in a function which is declared view or pure", and if
so, ge

[2020-05-10 14:41] seanyoung commented on #177
@abdlquadri about steps:

1. That looks correct. However it might be easier to implement
   DynamicArrayResize(). You will see when you write the code. I don't mind which one.

2. Dynamic memory arrays do not read or write contract storage. This is not needed.

3. This is not needed. I'm not sure why you are thinking of this.

4. Exactly.

5. This is correct.

6. This is correct.

[2020-05-10 15:04] seanyoung commented on #177
kichjang the array should be resized with realloc(). By using concat() you are allocating a new vector each time, and realloc() might not need to do any reallocation. Without reallocation there is no copy needed to the new vector.

[2020-05-11 08:50] Web3Foundation commented on #177
@seanyoung who would you like to approve to start work?

[2020-05-11 16:29] seanyoung commented on #158
@Web3Foundation please approve developerfred for this bounty, thank you

[2020-05-13 15:40] seanyoung commented on #177
@Web3Foundation please approve kichjang to start work on this issue. Thank you

[2020-05-13 16:32] developerfred commented on #158
@seanyoung Thanks !

[2020-05-15 17:50] KiChjang commented on #177
@gitcoinbot Yes, currently scoping out the requirements and the landscape.

[2020-05-19 09:02] Web3Foundation commented on #159
@seanyoung Any preferred worker for this issue?

[2020-05-19 17:20] seanyoung commented on #159
@Web3Foundation thanks for the reminder. Please approve hendobox, thank you very much.

[2020-05-19 22:28] KiChjang commented on #177
@gitcoinbot Still working on it. I noticed that we do have `array_pop` and `array_push` that does a similar operation, but reads and writes to storage. I'm trying to salvage the parts we need for our purposes.

[2020-05-25 01:56] KiChjang commented on #177
@gitcoinbot @seanyoung I'm trying to figure out what to do in the case that `push` has no arguments. You said that it should return a reference to the new element, what is "the new element" in this case? There are no arguments, the only expression we have so far is the array. Do you mean that we should create a new temporary variable that has the same type as the array elements and push it into th

[2020-05-26 08:06] seanyoung commented on #177
@KiChjang thanks for asking! It should follow how push() works on storage arrays. For non-reference types, a zero element should be stored in the array and that value should be returned. There is a default function for this: https://github.com/hyperledger-labs/solang/blob/master/src/resolver/cfg.rs#L2268

For reference types (structs and arrays), a new element must be allocated, set as the last el

[2020-05-29 10:39] Web3Foundation commented on #158
@developerfred it has been 16 days, are you still working on this?

[2020-05-29 10:42] Web3Foundation commented on #159
@seanyoung @hendobox How is work progressing here?

[2020-05-30 11:29] Hendobox commented on #159
I have written the test cases in solidity. But I am having issues with installing docker on my device to be able to run the solang compiler

[2020-05-31 00:30] KiChjang commented on #177
@gitcoinbot Still working on it, figuring out how to implement `push` with no arguments.

[2020-06-04 17:55] KiChjang commented on #177
@gitcoinbot I'm working on the code emitter right now.

[2020-06-05 08:04] Web3Foundation commented on #158
@seanyoung we have removed @developerfred due to inactivity. The bounty remains open, new workers can apply.

[2020-06-09 22:37] KiChjang commented on #177
@gitcoinbot Yes, still working on it.

[2020-06-13 01:22] Web3Foundation commented on #158
@miguel550 youve been approved to start work.

[2020-06-15 08:19] KiChjang commented on #177
@gitcoinbot Yes, trying to obtain the length of the array from the original expression right now. I went the way of copying what `StorageBytesLength` does when emitting code, but figured out that it was the wrong way.

[2020-06-16 16:57] miguel550 commented on #158
I'll start working on this on the weekend if there is not a problem with it

[2020-06-29 19:33] Web3Foundation commented on #177
@KiChjang Are you still working on this issue? I've snoozed the bot, but just updating here.

[2020-06-29 20:58] KiChjang commented on #177
@Web3Foundation I still am on the stage of emitting the correct code for push() and pop(). I wasn't actually sure whether I was supposed to continue working on this bounty since the bot has escalated this issue and I thought that it meant it has taken me off, but I see that I'm still considered working on it, so I'll make progress soon.

[2020-06-29 21:25] Web3Foundation commented on #177
Great thanks @KiChjang

[2020-06-30 11:19] seanyoung commented on #159
Resolved by https://github.com/hyperledger-labs/solang/commit/425523b19dbd1acfa4005b251514086cf601c23b

[2020-06-30 11:19] #159 closed

[2020-07-05 01:01] q871795224 opened #219 "Why does solang not recognize msg and block?"
![image](https://user-images.githubusercontent.com/33190881/86523353-db808f80-be9d-11ea-8b2d-429a320df6f5.png)
As shown in the picture。
The corresponding code is `creator = msg.sender;``return block.number;``if (msg.sender == creator)`

[2020-07-05 10:11] seanyoung commented on #219
You are right, this is not implemented yet. However, I'm currently implementing these features the current milestone which is due the 25th of July: https://github.com/hyperledger-labs/solang/milestone/3

[2020-07-05 14:08] seanyoung commented on #219
Work is underway here: https://github.com/hyperledger-labs/solang/pull/220

[2020-07-06 07:12] Web3Foundation commented on #158
@miguel550 it has been 20 days since your last message. Are you still planning on working on this issue?

[2020-07-06 07:18] Web3Foundation commented on #159
@seanyoung can we remove the bounty from this issue?

[2020-07-08 12:38] seanyoung commented on #219
This should be fixed now.

[2020-07-08 12:38] #219 closed

[2020-07-09 12:18] KiChjang commented on #177
@seanyoung I think I've pretty much done the codegen part for `push`, and I wanted to test it out, but I immediately was hit by a build error:

[code]

Any ideas what could've caused it?

[2020-07-10 04:07] KiChjang commented on #177
Another problem I ran into is, I want to reassign the pointer address for the array after calling `__realloc`, but I'm not sure which instruction I should emit for this. I thought it was the store instruction but that only seems to replace the array contents, not the address of the array pointer. Any thought about this?

[2020-07-10 08:09] seanyoung commented on #177
I have not seen this buid error before. What operating system are you on and what version of rust are you using?

[2020-07-10 08:11] seanyoung commented on #177
The pointer returned by `__realloc` is the new pointer for the array variable. So, the address in for the variable table will need updating just like in a simple assignment.

[2020-07-10 10:34] KiChjang commented on #177
I'm using WSL with a rust version of 1.42. I'm suspecting that I'm missing some required libraries for it to build.

[2020-07-10 10:42] KiChjang commented on #177
How would I go about updating `vartab` in `fn expression`? It's an immutably borrowed slice.

[2020-07-10 11:01] seanyoung commented on #177
I don't know about running in WSL. I would recommend running some proper Linux flavour or Windows natively, not WSL.

If you want to develop on Windows, just install rust natively and then you the llvm libraries. You can build them using docker windows containers using: https://github.com/hyperledger-labs/solang/blob/master/scripts/build-llvm-windows.dockerfile
Alternatively I've already built the

[2020-07-31 08:10] Web3Foundation commented on #177
Hey @KiChjang @seanyoung How is work coming along here?

[2020-07-31 08:12] Web3Foundation commented on #158
@miguel550 You have been removed as an approved worker for this bounty.

The bounty on this issue is OPEN to new applicants.

[2020-07-31 08:19] KiChjang commented on #177
@Web3Foundation We've been communicating via instant messaging, and right now we're almost done with the work, but we're encountering some weird bugs that we don't know the solution for yet.

[2020-07-31 08:36] seanyoung commented on #177
@KiChjang is close to solving this issue.

[2020-08-01 14:40] #177 closed

[2020-08-01 14:42] seanyoung commented on #177
@KiChjang solved this issue. Thank you very much for your work!

[2020-08-07 09:21] KiChjang commented on #177
@Web3Foundation Do you mind paying out the funds for this bounty? Thanks in advance!

[2020-08-10 19:32] Web3Foundation commented on #158
@seanyoung We see on Gitcoin that @KiChjang has applied but can't find his application in the thread, pasting it below. Let us know if you wish to approve him:

"It looks like we first need to ensure that an appropriate AST expression is generated when a Bytes type is casted to a BytesN type, and vice versa. We could leverage the existing Expression::BytesLiteral type to accomplish this, but we'll

[2020-08-25 07:54] Web3Foundation commented on #158
@seanyoung pinging you regarding @KiChjang . Would you like to approve the worker?

[2020-09-01 12:31] SvenMeyer opened #264 "What Solidity version is supported ?"
Where is information what Solidity version is supported ?
v0.5 , v0.6 , v0.7 ?

[2020-09-02 09:02] seanyoung commented on #264
The aim to be current with the latest version of Solidity (0.7), however it falls short in a few areas:

- function modifiers (should be implemented soon)
- function types
- immutables
- there are probably some smaller problems

Please raise an issue for anything specific you find.

[2020-09-02 09:03] seanyoung commented on #158
Sorry for missing this. @Web3Foundation I do approve this, thank you.

[2020-09-02 09:50] hydai opened #266 "Is the `ethereum.memory` in the import section needed when I use `ewasm` backend?"
Hi,
I am trying to build a simple contract with solang v0.1.3.
Here is the contract in solidity:

[code]

Compile command:

[code]

I found that there is a special import statement `(import "ethereum" "memory" (memory (;0;) 2 2))` in the output wasm file.
After I check the ewasm spec, it looks like there is no `ethereum.memory` for importing in EEI.
I would like to know if this import statement is

[2020-09-02 10:50] seanyoung commented on #266
@hydai thanks for your bug report. Solang has only been testing with [https://github.com/hyperledger/burrow/](Burrow) so far, so there a bond to be issues like these.

This is easy to fix up, I'll fix it today.

[2020-09-02 20:45] seanyoung commented on #266
Please let me know if this is fixed now.

Please let me know about any issues you find, thanks!

[2020-09-02 20:48] seanyoung opened #268 "ewasm should use keccak256/ripemd160/sha2-256 system contract, not our own implementation"
This will make the deployed contract code much smaller.

[2020-09-03 09:41] hydai commented on #266
Thanks a lot. @seanyoung 👍

The above issue is resolved.

Actually, we are trying to use a ewasm-compatible runtime, [SSVM](https://github.com/second-state/ssvm), to do some benchmarks. The SSVM also provides [a rust binding for EVMC](https://github.com/second-state/rust-ssvm).

We will open a new issue if we encounter another bug when running benchmarks. Thanks again.

[2020-09-03 09:41] #266 closed

[2020-09-08 08:13] Web3Foundation commented on #158
Great!
@KiChjang you have been approved.

[2020-09-11 04:48] KiChjang commented on #158
@gitcoinbot @seanyoung I'm trying to see if it's better to reuse the existing Expression variants to encode the idea of casting different byte types interchangeably. Specifically, the `Expression::Cast` variant.

It looks like a bad idea though, because it only stores the destination type and doesn't care about the source type. This is important because I thought that any type that gets cast into

[2020-09-12 13:21] #158 closed

[2020-09-12 13:23] seanyoung commented on #158
@Web3Foundation @KiChjang found a nice solution to this problem and the fix has been merged. Thank you very much!

[2020-09-15 14:56] seanyoung commented on #264
See https://solang.readthedocs.io/en/latest/status.html for a list of features.

function modifiers have now been implemented.

[2020-09-15 14:56] #264 closed

[2020-09-17 09:21] Web3Foundation commented on #158
@KiChjang could you please make a work submission via Gitcoin so that we can proceed with the payout.

[2020-09-17 09:35] KiChjang commented on #158
@Web3Foundation I've already done so, but gitcoin does not recognize my transaction: https://etherscan.io/tx/0x41b24309aa1eebc7b9a214555f1023a6f4a81f07cc7619ba61d8fedbec11fbcc

Not sure who I can find to fix this...

[2020-09-20 15:33] seanyoung opened #282 "Implement math overflow checking"
This should be an optional feature which can be enabled on the command line, with something like `solang --math-overflow`.

The following code:

[code]

Calling `bar()` should fail with an assertion failure if `--math-overflow` has been specified. Overflow checking should be done for:

- Addition (both signed and unsigned)
- Subtraction (both signed and unsigned)
- Division/Multiplication/Modulo (

[2020-09-20 19:33] seanyoung opened #284 "Support rational constants"
In Solidity, rationals are supported as long as they are compile-time constants. e.g. this is supported:
[code]
Also, fractions can be written with scientific notation: `1e-2` or `0.001e2`.

Fractions can be added/subtracted at compiler time, but fractions cannot be added to integers, like:
[code]

This change requires:
- Changes to the lexer to support lexing fractions
- Add new type to AST Type:

[2020-09-20 21:10] KiChjang commented on #158
Filed an issue to track this problem: https://github.com/gitcoinco/web/issues/7483

[2020-09-21 08:22] Web3Foundation commented on #158
Hey @KiChjang thank you for your patience, we finally got it to work :)

[2020-09-24 17:23] sxysun commented on #268
Hi,

I have been reading this interesting project for sometime, and I am just curious that will this issue include changing the burrow chain implementation? Since pre-compiled contracts are hard-coded in the chain and thus if on the compiler level we have keccak256 translated to `call_EEI 0x9 ...` or something like that, it would need the burrow project to update their code first right? Wondering

[2020-09-27 08:54] seanyoung commented on #268
@sxysun yes, you are right. Burrow needs to be updated for this to work properly. I don't have timelines at the moment, but having said that, it's not a lot of work.

[2020-10-01 19:06] sxysun commented on #268
@seanyoung I see, thanks! Our project [deepsea](https://github.com/certikfoundation/deepsea)'s development kind of depends on the eei function resolvers in life VM supported on Burrow, so I think maybe I will also look into it and probably send a PR if you guys do not plan on supporting that soon

[2020-10-12 02:24] KiChjang commented on #284
@W3F It looks like gitcoin's github integration bot is malfunctioning again, and didn't seem to post the bounty applicants to this issue and #282. Do you mind taking a look at it?

[2020-10-13 08:48] 0b01 opened #289 "You are using the wrong sha3 function"
Should be keccak256

[2020-10-20 12:51] seanyoung commented on #289
You are totally right, it is sha3-256.

Note this affects ewasm only since Substrate uses the host keccak256 function

[2020-10-20 12:58] seanyoung commented on #289
ewasm should be using the system contract/precompiles anyway, see #268

[2020-10-24 07:31] jacogr opened #297 "Version with latest scale-info compatible metadata"
This is a support query to help others just find their bearings...

In the polkadot-js/docs we have been referring to ink! 3 a lot to indicate the latest version wit the new metadata. Solang also supports it fully, but it seems the docs are skewed there since it doesn't reflect that at all or at least doesn't provide the required pointers.

So would like o update the offending references, an examp

[2020-10-24 10:06] seanyoung commented on #297
There is no tagged released yet which supports the new metadata, this is only on master. I'm hoping to do a release soon. On the problems I'm having is that the new metadata breaks things for plasm: https://github.com/staketechnologies/Plasm/issues/245

[2020-10-27 16:34] JeremyConnor opened #300 "Errors when compiling solidity smart contract with Solang"
I get the following errors when trying to use Solang to generate the WASM object file from the Solidity Smart Contract:
error: expression of type address not allowed
error: contract ‘myContract’ is missing function overrides
note: missing override for function ‘addBalance’
error: no contracts found.

There is no error in my Solidity Smart Contract as I was able to successfully compile and deploy t

[2020-10-27 16:57] seanyoung commented on #300
Can you shared the solidity smart contract and also what version of solidity did you select in remix.

Thanks

[2020-10-28 04:22] JeremyConnor commented on #300
My Smart Contract Code :
[code]
Below is the Screenshot of terminal.
![ScreenShot](https://user-images.githubusercontent.com/73089748/97390329-88c25c00-1902-11eb-92ea-6390f1a9b3aa.jpg)

In the code, I have used solidity Version > 0.6.0
Solang version that I am using is : v0.1.4-27-gc4023b9

[2020-10-28 09:44] seanyoung commented on #300
There have been fixes committed to master since then. This contract compiles without issues on solang: version v0.1.4-45-g7d18b6a

[2020-10-28 09:44] #300 closed

[2020-10-29 07:37] JeremyConnor commented on #300
@seanyoung I upgraded Solang to the latest version and got the required WASM file and the ABI file. But when I try to deploy the ABI file, I get an error
[code]

[2020-11-03 11:18] KunPengRen opened #306 "For some previous solidity complier version"
Can this tool support the previous solidity version, like v.4.24 for solidity?

[2020-11-04 13:37] seanyoung commented on #306
There are many changes in the language between solidity versions. It would be good if solang could switch between solidity versions. This would require some big changes to sema.

Unfortunately I do not have the time to implement this. However, I'm very much open to contributions for this.

[2020-11-08 08:05] pczarn commented on #282
@KiChjang are you working on this issue? If nobody is, I'd like to look into this and perhaps hit start.

[2020-11-08 08:50] KiChjang commented on #282
@pczarn No, but you are supposed to apply at [this page](https://gitcoin.co/issue/hyperledger-labs/solang/282/100023825) before working on the issue.

[2020-11-09 20:32] seanyoung commented on #297
There is now a release v0.1.5 which is compatible with the new substrate 2.0 metadata.

[2020-11-09 21:02] jacogr commented on #297
Thank you, yes, saw it come in, updated the UI with a reference 15 mins later. Will close this.

[2020-11-09 21:02] #297 closed

[2020-11-10 11:01] kleczkowski opened #312 "Inheritance does not pull libraries into the scope"
### Description

Compiler does not pull libraries into the scope of subclasses.

### Repro

Consider following code: [amon_updated.zip](https://github.com/hyperledger-labs/solang/files/5516690/amon_updated.zip). During compilation driver panics:
[code]
Adding some dummy operations to `AMNToken` that involves `SafeMath` library, e.g.
[code]
allows to compile the file.

### Observation

I've noticed

[2020-11-11 12:35] YameenMalik opened #314 "LLVM Issues"
Trying to generate .wasm file for [this](https://github.com/Synthetixio/synthetix/blob/develop/contracts/AddressResolver.sol) contract, getting this error. Couldn't find anything to read about it on google so opening the issue here. Any assistance would be much appreciated.

[code]

[2020-11-12 10:51] seanyoung commented on #312
Thanks for the bug report and detailed analysis. I think you are totally right, I am working on a fix now.

[2020-11-12 12:12] #312 closed

[2020-11-13 20:44] JeremyConnor opened #319 "Conflicting use of 'view' in Solang as compared to Remix IDE"
This is my code AssetTransfer.sol, with a little modification. I have added two new events which I am using in the ```viewBalance``` and ```findOwner``` functions. When I deploy the contract on Remix IDE, I am prompted to remove the ```view``` from these function types as I am not just viewing the data but also emitting it. But, when I go on to create WASM and ABI file in Solang, it doesn't work a

[2020-11-13 21:01] JeremyConnor commented on #319
Update : I am able to deploy this contract. I had to decrease the value of endowments from 1000 (previous value) to 100. But, I still don't understand why there is a difference in the use of a ```view``` function between Solang and Remix. Also, how does changing the value of endowment affect the deployment of code.

[2020-11-14 15:40] YameenMalik commented on #314
I linked the incorrect contract unfortunately sorry about that. I resolved the import path issues by flattening the contract. You can find the flattened contract over [here](https://github.com/dtradeorg/dtrade-contracts/blob/main/contracts/build/flattened/AddressResolver.sol). Thanks

[2020-11-14 16:41] seanyoung commented on #314
I've been down a rabbit hole trying to fixing the imports

[2020-11-15 13:18] seanyoung commented on #319
solc is of the opinion that events can only be emitted in non-view functions. For example

[code]
solc will refuse to compile this. However, on Substrate, events can be emitted on RPC calls.

Actually events are currently being implemented in polkadot ui. Having events in rpc calls is very nice, so let's keep this issue open until the UI has implemented this.

[2020-11-15 13:59] seanyoung commented on #314
@YameenMalik please let me know if you come across any issues with the latest version; it should be fixed, including the import path issues.

[2020-11-15 16:32] seanyoung commented on #319
So it turns out that `emit` in view/pure functions does nothing in Substrate. So, I've changed solang to match solc

Should be fixed now.

[2020-11-15 17:41] JeremyConnor commented on #319
@seanyoung  I just updated my Solang and it refuses to compile. I get an error in one of the libraries. The error as seen in the terminal output is :
[code]

[2020-11-15 17:53] seanyoung commented on #319
@JeremyConnor there have been some changes which require some updates to the llvm libraries.

You can get the right llvm build here: https://solang.readthedocs.io/en/latest/installing.html#installing-the-llvm-libraries

[2020-11-15 18:30] JeremyConnor commented on #319
@seanyoung I followed the link that you provided, but I am still getting the same error.

[2020-11-15 20:00] seanyoung commented on #319
That's odd. What platform are you on (and what linux distribution of its linux?)

What's the output of `llvm-config --version` and  `llvm-config --libdir`?

`llvm-config --libdir` prints a directory, what files do you have in that directory?

Thanks

[2020-11-16 02:20] JeremyConnor commented on #319
@seanyoung I am using Ubuntu 20.04 and the output of the other 2 commands are :
![Screenshot from 2020-11-16 07-48-29](https://user-images.githubusercontent.com/73089748/99206028-56f53480-27e0-11eb-8e3d-729dfac109f2.png)

[2020-11-16 10:39] seanyoung commented on #319
I'm not sure what is going on here, everything seems in place. Please can you try `git clean -fdx` to clean the  solang directory (please make sure you have copies of files you want in the solang directory), and then do `cargo build` again.

If it still fails, could you please give the output of `cat target/debug/build/solang-*/output`

Thanks for your patience with this.

[2020-11-16 11:51] JeremyConnor commented on #319
@seanyoung  I tried it but the error still persists.
Below is the output of ```cat target/debug/build/solang-*/output```
![Screenshot from 2020-11-16 17-19-38](https://user-images.githubusercontent.com/73089748/99249420-1a512980-2830-11eb-93e2-4c11be17f105.png)

[2020-11-16 12:20] seanyoung commented on #319
So strange, the file liblldELF.a is present, it has the right path, but still refuses to link it.

Would you mind checking the file is ok:
[code]
and that it has the right permissions:
[code]
thanks

[2020-11-16 12:26] JeremyConnor commented on #319
@seanyoung  I checked it, and it looks perfectly fine. I got the same expected output

[2020-11-16 12:50] seanyoung commented on #319
Weird! I'll install ubuntu 20.04 in a vm and see if I can reproduce the issue. What version of rust are you using? Installed via rustup or apt-get install ?
Thanks

[2020-11-16 12:51] JeremyConnor commented on #319
I am using 1.47.0 version of rust. I installed it using rustup

[2020-11-16 14:02] seanyoung commented on #319
I'm having a hard time reproducing this issue. Would you mind telling me what llvm/lld packages you have installed?
[code]
Thanks

[2020-11-16 14:16] JeremyConnor commented on #319
Here is the output of the above mentioned command:
![Screenshot from 2020-11-16 19-45-41](https://user-images.githubusercontent.com/73089748/99262809-67d79180-2844-11eb-8554-027ff2368362.png)

[2020-11-18 09:04] Web3Foundation commented on #284
Ha! @KiChjang you are correct, the bot did not post to the issue. @seanyoung could you have a look at the two applicants and let us know who to approve: https://gitcoin.co/issue/hyperledger-labs/solang/284/100023827

[2020-11-18 09:05] Web3Foundation commented on #282
@seanyoung the Gitcoin bot has malfunctioned and did not post to the issue. There are two applicants, please check and let us know who to approve: https://gitcoin.co/issue/hyperledger-labs/solang/282/100023825

[2020-11-18 13:12] seanyoung commented on #282
@Web3Foundation please approve @KiChjang, thank you

[2020-11-18 13:31] seanyoung commented on #284
@Web3Foundation please approve @janus thank you

[2020-12-01 14:43] TriplEight commented on #314
I just had something else trying to compile on the mentioned commit:
[code]

[2020-12-02 13:47] seanyoung commented on #314
LLVM can't be found. See https://solang.readthedocs.io/en/latest/installing.html#installing-the-llvm-libraries for how to install llvm. It's best to use the llvm version based of our tree, it has some fixes in it.

Make sure that `llvm-config --version` returns the correct version before running cargo again.

This morning I've made another fix which is relevant for compiling synthetix: https://git

[2020-12-14 18:46] seanyoung commented on #319
I can't reproduce the issue of solang not building. Not sure what is going on.

@JeremyConnor is the original issue now resolved?

[2020-12-15 03:58] JeremyConnor commented on #319
I changed the Smart Contract code, and therefore, no longer required ```view```. So, I didn't encounter this error again. I don't know if the issue would persist if I used a view function again.

[2020-12-15 10:06] seanyoung commented on #319
ok well it should be fixed by https://github.com/hyperledger-labs/solang/commit/54847f75eede6d0009bd7676a28262d9a7a8d096

[2020-12-15 10:06] #319 closed

[2020-12-23 01:42] bitsanity opened #344 "Compiler Should Output .contract Bundle"
[Using Solang with Substrate](https://solang.readthedocs.io/en/latest/running.html#using-solang-with-substrate)  indicates that compiling a solidity file should output a `.contract` file containing wasm and json.

The Substrate UIs seem to prefer uploading a `.contract` file. While they do allow uploading `.wasm` and `.json` separately, the UI doesn't seem to handle multiple wasms and multiple jso

[2020-12-23 09:31] seanyoung commented on #344
A fix for this issue was committed yesterday: https://github.com/hyperledger-labs/solang/commit/66ab8d013f7878491f9ef9ecb54eda2449ad8696

You can test this by using the latest docker image or using the debug artifacts generated here https://github.com/hyperledger-labs/solang/actions/runs/438060355

[2020-12-23 15:41] piwonskp opened #346 "Memory wipe when running subtransaction"
Calling another contract's function causes program to zero its memory and try to write outside it. The bug occurs when the called function has no arguments.

# Example
[code]
The code to be stored on the blockchain contains:
[code]
Func 9 zeroes memory for call data, but since there is no data the length is 0. First iteration of the loop causes an integer underflow. From now on the code will try t

[2020-12-24 09:41] seanyoung commented on #346
Yes, you're totally right. This is an issue on ewasm. I'm writing a fix now.

[2020-12-24 11:23] #346 closed

[2020-12-24 11:56] #344 closed

[2021-01-04 08:52] seanyoung commented on #306
It occurred to me that more can be done to solve this problem.

@KunPengRen it would be more useful to know what specific compilation problems you are having.

[2021-01-04 12:42] piwonskp opened #355 "[EWASM] Delegate call is not implemented"
Delegate call is not implemented for ewasm target. An attempt to compile results in:
[code]
# Example
[code]

[2021-01-04 14:06] piwonskp opened #356 "[EWASM] Contract creation is not implemented"
Contract creation is not implemented for ewasm target. An attempt to compile results in:
[code]

# Example
[code]

[2021-01-04 21:31] seanyoung commented on #356
The problem here is the `string` contract storage field. This is not implemented yet for ewasm.

[2021-01-04 21:32] seanyoung commented on #355
The problem here is the abi.encode() call.

[2021-01-04 23:09] #355 closed

[2021-01-09 12:23] #282 closed

[2021-01-09 13:05] #289 closed

[2021-01-09 13:50] KiChjang commented on #282
@Web3Foundation I just realized that I was never approved for the bounty, and so can't receive the payout from it. What should I do in order to receive payment?

[2021-01-09 14:40] seanyoung commented on #356
dup #166

[2021-01-11 18:33] Web3Foundation commented on #282
@KiChjang you were approved on the issue now you just need to "submit work" via gitcoin side so we can payout!

[2021-01-12 10:01] seanyoung opened #361 "Visual Studio Code Extension should download latest solang binary for windows, mac, or linux"
Current the vscode extension requires the user to download the solang binary and specify it in the preferences.

Instead, the typescript code should:
 - Check github api for latest release https://api.github.com/repos/hyperledger-labs/solang/releases/latest
 - Check if version is already downloaded (output from "solang --version")
 - Download correct binary for platform (windows, mac, or linux)
 -

[2021-01-12 12:47] seanyoung opened #362 "Solang needs a logo"
We don't have a logo. This would be nice for e.g. the vscode extension.

I think some sort of animal would be great, something like a crocodile or a manatee. Or something inspired by Pegbiter https://monkeyisland.fandom.com/wiki/Pegbiter

The logo should be svg, open source, and most of all cute.

[2021-01-14 15:33] piwonskp commented on #356
Duplicate

[2021-01-14 15:33] #356 closed

[2021-01-16 09:45] GalaIO opened #365 "does solong support EVM script? or contract call?"
like this exec EVM script
https://github.com/aragon/aragon-apps/blob/631048d54b9cc71058abb8bd7c17f6738755d950/apps/voting/contracts/Voting.sol#L355

or call erc20 transferFrom
https://github.com/aragon/aragon-apps/blob/631048d54b9cc71058abb8bd7c17f6738755d950/apps/token-manager/contracts/TokenManager.sol#L318

[2021-01-19 14:12] seanyoung commented on #365
@GalaIO this evm script is something which is special to AragonOS, no special support is  in the solidity compiler, I think. See https://github.com/aragon/aragonOS/blob/next/contracts/evmscript/EVMScriptRunner.sol

In fact we could add a special feature in Solang if this is needed. What are you trying to achieve?

On the second point, cross contract calls are fully supported.

[2021-01-21 19:21] Hyperion101010 commented on #362
:+1:  If anyone is interested you can follow few guidelines laid out for open source logos
here https://opensourcedesign.net/

[2021-01-24 13:46] GalaIO opened #370 "compile erc20 contract error"
solang: llvm/lib/IR/Instructions.cpp:1358: void llvm::StoreInst::AssertOK(): Assertion `getOperand(0)->getType() == cast<PointerType>(getOperand(1)->getType())->getElementType() && "Ptr must be a pointer to Val type!"' failed.

compile erc20 get error, code is here [https://github.com/paritytech/pallet-contracts-waterfall/tree/master/contracts/solidity/erc20](https://github.com/paritytech/pallet-c

[2021-01-24 14:15] seanyoung commented on #370
I can reproduce this. I'm looking into it

[2021-01-24 14:22] GalaIO commented on #370
another question, what's the address of the contract in substrate with solang?

[2021-01-24 14:30] seanyoung commented on #370
I'm not sure where or what address you're after. If you mean the address of the current contract, you can get it with `address(this)`. This will emit code which calls `seal_address()`. Is that what you are after?

[2021-01-24 14:31] SeavantUUz opened #371 "library 'XXXX' is not allowed to have state variable"
I tried to compile a solidity contract into substrate. The contract imports SafeMath.sol into and SafeMath.sol is a library.

Solang compiler complained like *library ‘SafeMath’ is not allowed to have state variable ‘ERROR_ADD_OVERFLOW’*.

But the `ERROR_ADD_OVERFLOW` actually is a constant string type not a variable. I have read a [reference](https://docs.soliditylang.org/en/v0.6.7/contracts.html

[2021-01-24 14:40] GalaIO commented on #370
when I call transfer function from another contract, it's always failed, the constructor input address is erc20 contract's address
[code]

[2021-01-24 15:19] seanyoung commented on #371
This issue should be resolved in the latest master.

https://github.com/hyperledger-labs/solang/commit/fb6074294b8bb9622341c4e4c4d9df2d5ed7c773

Maybe it's time to do a release again. Let me resolve some issues first.

[2021-01-24 15:19] seanyoung commented on #371
If you can try the latest master that would be great!

[2021-01-25 09:42] seanyoung commented on #370
I suspect the problem of transfer() failing is that the receiving contract does not have a ``receive() payable external {}`` function.

I am not sure this is the same as Ethereum Solidity, this should be checked. In Solang, a contract must have a receive() function else value transfers to it are not allowed (unless value is  sent with an external call, like ``foo.bar{value:102}()`` and this bar fu

[2021-01-25 09:50] seanyoung commented on #370
The compilation issue is fixed. We now need to address the transfer() issue.

Can you please check if adding the ``receive() payable external {}`` works? Thank you.

[2021-01-25 13:04] seanyoung commented on #370
So I merged another change, which *should* solve the issue with transfer(). Please let me know if things are working as expected now.

[2021-01-25 16:18] GalaIO commented on #370
no, it's not work...

[2021-01-25 18:13] seanyoung commented on #370
Sorry I was barking up the wrong tree. Let me look at this again.

[2021-01-27 07:19] KiChjang commented on #284
@janus Are you still working on this bounty, or is it ok for others to work on it?

[2021-01-27 07:24] janus commented on #284
I didn't receive 'approval' message. Please approve it then.

[2021-01-27 20:50] janus commented on #284
@Web3Foundation Please approve me.

[2021-01-29 14:05] seanyoung commented on #370
@GalaIO can you please provide me with exact steps to reproduce please.

Thank you.

[2021-01-29 14:15] seanyoung commented on #371
No response so I assume it's fixed.

[2021-01-29 14:15] #371 closed

[2021-01-29 15:20] Web3Foundation commented on #284
done @janus

[2021-01-29 15:20] GalaIO commented on #370
compile erc20.sol, and the compile TokenTransfer.sol，upload and instance in substrate, TokenTransfer contract init with erc20 contract accountId
[code]

[2021-01-29 15:21] janus commented on #284
Thanks

[2021-02-04 12:04] #268 closed

[2021-02-04 17:21] janus commented on #284
@gitcoinbot This is actively worked on....update coming soon.

[2021-02-06 13:21] xf3rno commented on #361
Hi; I saw this bounty on gitcoin and would like to work on this. Does the `bounty-awaiting-approval` label mean the task is open for PRs or should I wait for confirmation?

[2021-02-06 13:45] seanyoung commented on #361
@Web3Foundation please approve @mul53, thank you

[2021-02-12 00:01] janus commented on #284
@seanyoung , @Web3Foundation , @KiChjang

I got the below error message with this command: `cargo test`. I have removed my cache.

[code]

[2021-02-12 01:06] janus commented on #284
Discard the above I have figured it out

[2021-02-12 02:23] janus commented on #284
@seanyoung
Please go through my code and comment. I would want to know if I followed your convention.
WIP, https://github.com/hyperledger-labs/solang/pull/384

[2021-02-12 09:25] seanyoung commented on #284
@janus your code looks fine, thank you.

You do need a "Signed-off-by:" in your commit message.

[2021-02-12 17:37] mul53 commented on #361
@seanyoung do you have a telegram handle for easier communication?

[2021-02-12 18:03] seanyoung commented on #361
It might be easier to use this channel https://chat.hyperledger.org/channel/solang

[2021-02-12 22:29] mul53 commented on #361
@seanyoung i see something else working on this, is there a mistake?

[2021-02-13 08:29] seanyoung commented on #361
@mul53 the bounty is assigned to you, rest assured. I don't know why @xf3rno made a start on this (I don't know this person), this must be some sort of mistake.

[2021-02-14 16:06] xf3rno commented on #361
@seanyoung I'm new to gitcoin and wasn't aware the bounty would be assigned. I assumed the best PR gets

[2021-02-16 12:41] seanyoung commented on #361
@Web3Foundation the issue has been resolved by https://github.com/hyperledger-labs/solang/pull/387

Thank you @mul53, great work!

[2021-02-16 12:41] #361 closed

[2021-02-17 08:58] Web3Foundation commented on #284
@seanyoung Can we make a payout to @janus ?

[2021-02-17 09:02] janus commented on #284
Not yet...I was unwell... I would add up more features this week please

On Wed, 17 Feb 2021, 09:58 W3F, <notifications@github.com> wrote:

[2021-02-17 12:22] janus commented on #284
This issue  is not really out:
sudo chown -R $(whoami) /home/kaka/.cargo/  This resolved the issue before but not now. I also noticed this: `sudo cargo build`
error: no override and no default toolchain set
[code]

Is there a permanent solution to this? I need help

[2021-02-17 12:26] seanyoung commented on #284
@janus you need to install the llvm libraries as per the documentation: https://solang.readthedocs.io/en/latest/installing.html#installing-llvm-on-linux

`error: no override and no default toolchain set` is an issue with rustup. Run `rustup default stable`

[2021-02-18 17:11] janus commented on #284
Thanks. I erroneously deleted llvm file.

[2021-02-18 23:45] seanyoung commented on #284
The lexer looks complete, but I haven't tested it.

[2021-02-19 17:02] janus commented on #284
@seanyoung ,
Is `solidity.lalrprop` machine generated? If yes, how do I have to add Rational token to it? How is `solidity.rs` related to the parser?
I noticed that `Type` and `Expression` enums are defined in both `pt.rs` and `ast.rs`.

Where is tokens consumed?

[2021-02-19 17:52] seanyoung commented on #284
@janus the lexer only lexes positive values, and lexes the minus as a separate token. The resolver (sema) combines the two.

solidity.lalrpop is an LR grammar, very much handwritten. The solidity.rs is generated from this file. See http://lalrpop.github.io/lalrpop/

[2021-02-24 12:17] janus commented on #284
@seanyoung
I opted to use  `bigdecimal::BigDecimal`.  I could also use bigInt for numerator , bigInt for denominator. But I feel that BigDecimal is a natural fit here. Please review my update and also solidity.lalrpop.
Which command do you use to convert lalrpop file to rs?

[2021-02-24 14:02] seanyoung commented on #284
@janus `cargo build` will generate `src/lexer/solidity.rs` if `src/lexer/solidity.lalrpop` has changed.

[2021-02-28 06:11] taquangtrung opened #395 "Does Solang support generating LLVM bitcode?"
Hi,

Does your tool support compile Solidity to LLVM bitcode?
I read your documentation and couldn't find that information.

Thank you for taking a look at this issue.

[2021-02-28 08:17] seanyoung commented on #395
@taquangtrung solang can generate llvm ir in binary (bitcode) or text format. Run solang with the following option:

[code]

If you would like the text version:
[code]
Does this help? What are you trying to achieve? Thanks

[2021-02-28 09:25] taquangtrung commented on #395
Thank you very much! It works for me when run directly with the binary file.
I'm trying to build a static analyzer for Solidity based on LLVM bitcode.

Btw, when running using Docker, I got this error:
[code]

Could you advise if I run it correctly?

[2021-02-28 09:39] seanyoung commented on #395
So when you run solang in a docker container, you don't need to specify `/usr/bin/solang`  as solang is already specified as the entrypoint. So, here solang is trying to itself as a source file and decides it's not valid text.

The second issue is that accessing files in a docker container is a bit awkward. The container does not have access to your files, so you need to some mapping to make it po

[2021-02-28 09:46] taquangtrung commented on #395
Oh right! Thank you very much for pointing out the issue with Docker. I wasn't careful at this point.

[2021-02-28 09:57] taquangtrung opened #396 "Some errors when running llvm-opt with the bitcode generated by Solang"
Hi,

I tested the following simple contract with Solang to generate LLVM bitcode.

[code]

When running llvm-opt with the generated bitcode, there was an error like below.

[code]

The IR corresponding to the above error is:

[code]

Is it the intended behavior of Solang to not introduce keywords mentioned by llvm-opt?

Btw, thank you for the great tool. So far, it's the best compiler from Solidit

[2021-02-28 14:03] seanyoung commented on #396
This is obviously broken, I'll see if I can fix it.

In the mean time, you can use `--emit llvm-ir` rather than `--emit llvm-bc` and simply remove the offending line in the text format.

[2021-02-28 14:49] seanyoung commented on #396
Should be fixed now. Note that it takes a few hours for the docker images to update

[2021-02-28 14:50] seanyoung commented on #395
Is it ok to close this issue or is there anything else?

[2021-02-28 15:01] taquangtrung commented on #395
Thanks alot! I will close it.

[2021-02-28 15:01] #395 closed

[2021-03-02 00:11] janus commented on #284
@seanyoung
Please check out `bigfloat_to_expression` function. It is a bit sloppy. I need your input.

[2021-03-02 14:43] seanyoung commented on #396
Is it ok to close this issue or is there anything else?

[2021-03-03 07:52] taquangtrung commented on #396
Yes, it worked perfectly! Thank you very much!

[2021-03-03 07:52] #396 closed

[2021-03-03 09:21] seanyoung commented on #396
I'm not sure exactly what you're doing, but just in case: actually I haven't done a particularly good job of selecting the passes that solang runs when compiling a contract. If you find any more that should be added, please let me know or open a PR. (see pass manager in src/emit/mod.rs)

[2021-03-03 10:20] taquangtrung commented on #396
Thanks for the kind notice! I will definitely discuss with you when I face any difficulties with Solang

[2021-05-07 08:52] Web3Foundation commented on #284
@seanyoung Can we make a payout to @janus? Or what is the status with this?

[2021-05-07 12:19] seanyoung commented on #284
@Web3Foundation the work is far from complete, unfortunately

[2021-05-07 12:32] janus commented on #284
@seanyoung  I asked for little direction but no response.  I am ready to get back if you would just support me by way of answering one or two questions.  Thsnks

[2021-05-07 14:15] seanyoung commented on #284
@janus sorry about that, I missed that.

So I think you're on the right track. Only nitpicks I have is:
 - `bigfloat_to_expression` isn't a great name; might as well call it `bigdecimal_to_expression`
 - For rational numbers, there is no size limit. A limit only kicks if it is cast to a `uint256` or `uint32`.
 - Possibly it is better represented as actual rationals like with the `rational` crate.

[2021-05-07 14:17] seanyoung commented on #284
@janus please let me know if there is anything else I can do for you

[2021-05-09 22:31] janus commented on #284
@seanyoung Thanks so much. I would get back to coding and if I have issues along the way I would get back to you.

[2021-05-26 15:44] VadneyK opened #421 "Mac M1 linking with `cc` failed"
trying to install llvm to install solang binary for rust/substrate.

Downloaded the tar file from https://solang.readthedocs.io/en/latest/installing.html#installing-llvm-on-ubuntu
then:
![Screen Shot 2021-05-26 at 8 42 28 AM](https://user-images.githubusercontent.com/57117207/119690177-4f04f580-bdfe-11eb-86cb-1f6d33d6999d.png)

as instructed but then I get:

![Screen Shot 2021-05-26 at 8 42 58 AM]

[2021-05-26 15:53] VadneyK opened #422 "docker image - error: could not compile `regex-syntax`"
I try to run a docker image with solang here, but I get error: could not compile `regex-syntax`

![Screen Shot 2021-05-26 at 8 53 13 AM](https://user-images.githubusercontent.com/57117207/119691895-cf782600-bdff-11eb-9464-a3ad7dc35d7f.png)

where do I insert the --verbose to get the full error message?
why is regex-syntax not compiling?

config:
macOS bigsur ver11.2.3 M1 chip
![Screen Shot 2021-05

[2021-05-26 17:42] seanyoung commented on #422
docker should use the rustc from the docker image, not the one on the mac itself. Would you mind trying the following please

- `git clean -fdx` so any temporary files are gone
- `docker image pull hyperledgerlabs/solang:ci` to make sure you're using the latest solang ci image
- `docker image pull  ubuntu:18.04`

And then try `docker image build .` again. Thanks

[2021-05-26 17:49] seanyoung commented on #421
The llvm build you are using is built for intel, not m1. Unfortunately there is no pre-build version of llvm available for m1 yet.

You can build your own using these instructions https://solang.readthedocs.io/en/latest/installing.html#building-llvm-from-source

[2021-05-26 17:56] VadneyK commented on #422
Thanks! I just did all of those things but i still get the same error.
Also how do I configure which rust the docker image uses?

1) cloned https://github.com/hyperledger-labs/solang
then I did:

![Screen Shot 2021-05-26 at 10 55 58 AM](https://user-images.githubusercontent.com/57117207/119708393-f68b2380-be10-11eb-8261-468bcb61dc27.png)

[2021-05-27 03:32] VadneyK commented on #421
thanks! that almost worked. Does this error mean I have to make a /include folder and move llvm to be there? I have not touched any files after git cloning.

![Screen Shot 2021-05-26 at 8 32 03 PM](https://user-images.githubusercontent.com/57117207/119761863-6fb26700-be61-11eb-8560-6b27649cdc29.png)

[2021-05-27 08:39] seanyoung commented on #421
This looks like `CMAKE_INSTALL_PREFIX` was not set properly. Please can you re-run the first cmake with something like `-DCMAKE_INSTALL_PREFIX=/Users/kentarovadney/llvm11` or so, thanks.

[2021-05-27 09:03] seanyoung commented on #422
Would you mind trying `docker builder prune -a` and then trying again?

I must admit I'm not sure what is happening here. I've updated to the latest docker here and I am not seeing this issue.

[2021-05-27 22:38] VadneyK commented on #422
Thanks! I did:
1) docker builder prune -a
2) git clean -fdx
3) docker image build .

and I got

![Screen Shot 2021-05-27 at 3 37 10 PM](https://user-images.githubusercontent.com/57117207/119905583-6973c780-bf01-11eb-912a-bdd7285b32bb.png)

At this point is this due to me having some faulty network or my docker set up is wrong? It is a different dependency that doesn't compile but it is really odd.

[2021-05-27 23:25] VadneyK commented on #421
Thanks!

I did
`
cmake -G Ninja -DLLVM_ENABLE_ASSERTIONS=On '-DLLVM_ENABLE_PROJECTS=clang;lld'  \
        -DLLVM_ENABLE_TERMINFO=Off -DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/Users/kentarovadney/llvm11 -B build llvm
`
and
`
PATH=/Users/kentarovadney/llvm11/bin:$PATH
`

then cargo install solang

and it worked!

[2021-05-27 23:26] #421 closed

[2021-05-28 17:00] seanyoung commented on #422
Thanks for trying that.

So the images used are for intel, not arm64. This is what docker has to say about it https://docs.docker.com/docker-for-mac/apple-silicon/

So assume you have rosetta2 installed already; also since this is quite new, docker should really be the latest and greatest.

Ideally there should arm64 images for you to use. I don't have arm64 hardware here. (Well, an raspberry pi!)

[2021-06-09 12:58] janus commented on #284
@seanyoung  Should `Rational` be classified as primitive? That is returning true for `is_primitive`.
I have a nasty error with `num_rational`, I have contacted the team.

[2021-06-09 14:17] seanyoung commented on #284
@janus yes, a rational is a primitive in Solidity.

Out of interest, what is the issue you are having with num_rational?

[2021-06-09 14:24] janus commented on #284
@seanyoung  Thanks for the quick response.

There may be something out there I am not following.
[code]

[2021-06-09 14:48] seanyoung commented on #284
I think the `note:` is likely the point to the issue. You may have a different version num_bigint in your Cargo.toml which differs what the version that num_bigint depends on.

[2021-06-09 14:52] janus commented on #284
Thanks. I would investigate.

[2021-06-28 06:31] usd-yamazaki opened #426 "no entry found for key"
When I compile the following code, I get a "no entry found for key" error.
The code has a minimal configuration that causes errors.
No matter which compilation target you choose, you will get the same error.
Replacing uint in the code with another type will result in the same error.

[code]

Is there any workaround?
Thank you.

[2021-06-28 08:10] usd-yamazaki commented on #426
I'm sorry, I forgot to give the detailed error message.

[2021-06-28 08:15] usd-yamazaki commented on #426
I was able to avoid the error by using the "--no-dead-storage" option.
But it raises a new error.
This seems to happen if there is mapping inside the structure.

[2021-06-28 09:29] seanyoung commented on #426
Thank you very much for your detailed bug report. I've created #427 to solve the second issue. I am still working on `--no-dead-storage` problem.

Thank you again.

[2021-06-29 07:11] usd-yamazaki commented on #426
Thank you for your prompt response.
#427 solved the second problem.
However, when I was trying other code, I got a similar error elsewhere.

[code]

[2021-06-29 09:16] seanyoung commented on #426
@usd-yamazaki thank you very much for another great bug report.

The length argument for a memory area was not handled correctly when it was specified from storage. This was not tested and not working. I have fixed this issue in pr #427. I still have to fix the dead storage problem.

Thank you!

[2021-06-29 20:33] seanyoung commented on #426
@usd-yamazaki I've fixed the deadstorage issue in #428

Thanks for your bug reports. Please let me know if you find any other issues.

[2021-06-30 07:52] usd-yamazaki commented on #426
Thank you, the error is gone! Excellent work!

The point I was interested in is that the length of the dynamic array is uint32.
solidity probably has no array size limit. (That is, I think the upper limit is uint256)
Is this due to solang restrictions?
Realistically, we don't need such a huge array, so I think it's okay if you specify it in the document.

[2021-06-30 08:47] seanyoung commented on #426
@usd-yamazaki you are right, you can use any type with ethereum solidity. However, this is a memory array, So, you cannot allocate a memory array of 2^32 elements in ethereum solidity, the contract does not have that much memory available to it.

In wasm memory is 32 bit so this works best. However, solang could accept `uint` and then check if it can be downcast to `uint32` without truncating the

[2021-07-01 05:34] usd-yamazaki commented on #426
I understand, thank you!

[2021-07-01 05:34] #426 closed

[2021-07-07 15:12] Leon-Africa opened #431 "ContractName.sol: error: no valid contracts found"
Hi there Sean,

Thanks for the great project.

I setup solang on my pc in a few ways.

First using docker - this resulted in error:

````ContractName.sol: error: no valid contracts found````

I then moved on to installing the solang release from crates.io - after successful install running  `

````solang --target anytarget ContractName.sol```` also results in error:

````ContractName.sol: error: n

[2021-07-10 09:13] seanyoung commented on #431
@Leon-Africa what's in your `ContractName.sol` file? If the file is empty, this error is expected.

[2021-07-11 16:25] seanyoung commented on #422
Sorry I forgot about this issue. You need to add a dot:
[code]

[2021-07-20 08:12] usd-yamazaki opened #443 "I feel I still need the metadata.json and wasm files."
The file output by #344 has been changed from .wasm and .json to .contract.
This is nice if you use @polkadot/apps (https://github.com/polkadot-js/apps).
However, @polkadot/api and py-substrate-interface still require .wasm and .json.

Could you change it to create three files, .wasm, .json and .contract? (Or optionally)

Thank you.

reference
https://polkadot.js.org/docs/api-contract/start/code
h

[2021-07-20 09:03] seanyoung commented on #443
I am not opposed to this change, this is a good idea.

This api-contract example uses the single .contract file: https://github.com/hyperledger-labs/solang/blob/main/integration/substrate/index.ts#L25

Also note that the metadata json and .contract file are the same, except the .contract also contains the wasm as a hexadecimal string.

[2021-07-20 11:05] #443 closed

[2021-07-25 11:14] axic opened #450 "Solang pragma"
In your [documentation](https://solang.readthedocs.io/en/latest/language.html#pragmas) it is stated that pragmas in general are ignored, especially the "version pragma" (`pragma solidity ^0.8.0;`).

I was wondering if it would make sense for you to introduce a solang-pragma (`pragma solang ^0.1;`) so that if someone tries to compile a solang-targeted contract with solidity, it would be clearly vis

[2021-07-27 06:09] usd-yamazaki commented on #443
thank you.
The metadata will rewrite the contract file.

[2021-07-27 06:20] usd-yamazaki opened #452 "An error will occur if the same modifier is attached to one function more than once."
As the title says.

Sample code
[code]

Errors that occur

Probably since the change of #447.

thank you.

[2021-07-27 08:04] seanyoung commented on #452
You are right, this is broken. There is no test case for this either. I will look into this.

[2021-07-27 10:13] seanyoung commented on #452
This should be resolved, thank you very much for your great bug report.

[2021-07-27 10:15] #452 closed

[2021-07-27 10:20] seanyoung commented on #370
@GalaIO this contract compiles fine. What issue are you seeing when you try go upload the contract to substrate?

[2021-07-30 11:04] seanyoung commented on #450
I'm hesitant towards the version pragma. No programming language I've ever seen of allows you to specify the compiler and even the compiler version in the source code itself. This is a property of the environment (e.g. build environment).

Some language like C allow you to check the compiler version so you can do conditional code in the preprocessor. I don't think we should be adding a preprocesso

[2021-08-03 08:06] tunghm0812 opened #459 "--target solana: How can I call a payable function with 'SOL value' from external account."
In Solana, the transactions haven't the value fields. It only includes account_keys, programId, and data. So I don't know how to transfer SOL to the contract by the payable function and how to get msg.value in the transaction.

I don't find any document mention to the above issue or any example for the payable function. Please help me find out it. Thank you.

[2021-08-04 08:41] seanyoung commented on #459
value transfers are missing from the Solana target. This is the last major feature gap. I'll be working on this shortly

[2021-08-08 15:35] seanyoung commented on #422
So I have some arm64 hardware now, so I've pushed a new hyperledgerlabs/solang:ci image with both linux/arm64 and linux/amd64.

This means you can build on mac m1 without emulation, simply do `docker build .` in the solang directory and it should work fine.

[2021-08-11 12:22] janus commented on #284
@seanyoung

I got the below. It is strange to me.

$ cargo --version
cargo 1.50.0 (f04e7fab7 2021-02-04)

$ rustc  --version
rustc 1.50.0 (cb75ad5db 2021-02-10)

[code]

[2021-08-12 09:28] #365 closed

[2021-08-12 09:31] seanyoung commented on #306
I have made some modifications so previous versions of solidity also compile. Please let me know if there are specific issues you are having.

[2021-08-12 09:31] #306 closed

[2021-08-12 09:32] seanyoung commented on #146
Unfortunately the llvm evm backend is no longer in development, which is a shame :disappointed:

[2021-08-12 09:32] #146 closed

[2021-08-12 09:33] seanyoung commented on #431
Please re-open with more information if there still is an issue.

[2021-08-12 09:33] #431 closed

[2021-08-12 09:40] KunPengRen commented on #306
Thanks! That's great, I will test later.

[2021-08-12 23:27] janus commented on #284
@seanyoung  Thanks so much. It worked
Please review my code. And point out file I would work on next.

[2021-08-13 08:40] seanyoung commented on #284
I've left a review. Looks very good so far. Please let me know if you need any help

[2021-08-14 06:42] tunghm0812 opened #465 "--target solana: The "msg.sender" is not verified by the payer's signature."
I can change "msg.sender" to any address I want by inserting it into instruction_data. I think we should check "msg.sender" was signed or not.

[code]

[2021-08-14 09:14] seanyoung commented on #465
You are totally correct. The sender should be checked. However, I'm not sure signing will work for all scenarios.

Say there is an auction contract A, which has its own auxiliary contracts, B and C.

Now say you want to place a bid. You call A. A can verify that the sender is the correct one, because it is signed. Now A wants to call B or C. It can only do that if there is a signature for A, which

[2021-08-14 13:29] tunghm0812 commented on #465
I think that B or C can verify the sender is A by the "Program Derived Address" account of A.
Example:
`
    // This is signature account of this program.
    // signature_account.is_signed = false
    let seeds = &[b"program_signature", bump_seed];
    let expected_signature_account_key =
            Pubkey::create_program_address(seeds, program_id)?;

    if *signature_account.key != expected_si

[2021-08-14 13:45] seanyoung commented on #465
If we use that scheme, then anyone who knows the seed of account A can impersonate account A. The seed will be passed into the transaction at various points so this is not a secret.

[2021-08-14 14:12] tunghm0812 commented on #465
Anyone can know the seed to pass it into the transaction, but only the program_id can call invoke_signed because the signature_account was derived from the program_id.

So A only calls 'invoke_signed' to B or C when everything is correct with its logic.

[2021-08-15 08:29] seanyoung commented on #465
I've given it some thought and you are right, this should work. I think this is also needed for value transfers.

It might be possible to simplify seed handling in solang. Should the seed be determined by:
 - Client code and passed into transaction
 - Solidity code
 - Solidity code constant string
 - Simply the name of the solidity contract, so fixed seed
 ?

 If w can pick the last option, handli

[2021-08-15 09:31] tunghm0812 commented on #465
Very good! Congratz. If you need any support or further discussion, you can contact me via email or skype hoangtung.cse@gmail.com.

[2021-08-15 10:25] seanyoung commented on #465
I'd rather have a public discussion either here on solana discord.

So the problem I have with client code providing the seed, is that if contract A wants to create a contract, hostile client code has some control of over the seed and thus this is increasing the attack surface.

[2021-08-15 13:13] tunghm0812 commented on #465
I think we should choose the last option to simplify and save compute costs.

And can you provide an example for the above issue (client code)?

[2021-08-16 08:35] seanyoung commented on #465
So the problem with a static seed is that the same contract instantiation might be called multiple types, for example:

[code]
 Since the same bpf program_id will be creating an other instance, it will require a unique seed each time. A solution to that would be that the BPF program creates a unique seed every time, but this won't work either.
 - To create a unique seed every time, some state has

[2021-08-21 11:25] oznfc opened #471 "length and offset is 0 ?"
I'm using flipper examle  for solana.  if ı call  ```flip```  and  ```get`` function together my codes is working.  but  ı tried different way.
 first step ı call only Flip function.
 second step ı call only get  function . When ı called only get  fuction after the first step  my   ofset and length is "0" .
 I have to use the flip and get functions together.  Why  ?

[2021-08-21 21:35] seanyoung commented on #471
The flip function has no return values, so the length will be zero. It might make sense for the flip function to return the current state. Does that explain what is happening?

[2021-08-22 07:41] oznfc commented on #471
I know  flip has no return values.already ı tried for ```get``` function.  error :
[code]
I tried at new contract , simple name get- set functions .  same error.

[2021-08-22 08:19] seanyoung commented on #471
Would you mind sharing your code so I can reproduce this issue? I don't know how this can happen without seeing your code. Thanks

[2021-08-22 08:22] oznfc commented on #471
yes sure.
[code]

[2021-08-22 08:30] seanyoung commented on #471
Would you mind sharing the client-side code too? Thanks

[2021-08-22 08:38] oznfc commented on #471
I already using solang library.  if ı using this style (2 function together. ) ı can see account data.

[code]

[2021-08-23 11:49] seanyoung commented on #471
I think I can reproduce an issue. Let me get back to you..

[2021-08-23 11:51] oksanassss commented on #471
ok I'm wating .

[2021-08-23 13:53] seanyoung commented on #471
Would you mind testing this again with the latest solang? Also note that I have turned your example into a test case.

[2021-08-24 07:55] oksanassss commented on #471
did you test it? length and  offset are 0   after the ```setName()``` function. so ı can't read data.

[2021-08-24 08:16] seanyoung commented on #471
Yes, the tes runs and the tests get run by github actions at every pull request as well.

Note that `setName` will clear the offset/length because the function has no return values.

Would you mind sharing your entire test case so I can reproduce the problem?

[2021-08-24 08:32] oksanassss commented on #471
hmm , understood.  now running  . I misunderstood some things. another question. :
 if ı  want  not  use ```getName()```  .
 Because
[code]

[2021-08-24 08:43] seanyoung commented on #471
A `public` variable will have an accessor function generated. This means you do `call_funtion('name', [])` and there is no need for the `getName()` function.

[2021-08-24 08:55] oksanassss commented on #471
I know but  ```call_function``` wants gas fee. I should not pay gass fee to read public data.

[2021-08-24 09:17] seanyoung commented on #471
Yes, you're absolutely right. So this should be done via an RPC call, which does not charge any gas at all. However, since this function writes to account data, it cannot be an RPC call.

The way to fix this is to provide an alternate way of returning data in Solana. This is why https://github.com/solana-labs/solana/pull/19318 exists. Hopefully this will be approved soon and then it can be impleme

[2021-08-24 09:31] oksanassss commented on #471
Hopefully.  Actually what I'm looking for is something like this:
[code]

[2021-08-24 14:27] seanyoung commented on #471
For the first string, you need to read the `u32` at offset 16 (let's call this `V`). If `V` is 0, the string is empty; if is not zero, then it is the offset at which the string is stored. The length can be fetched the `u32` at `V` - 8.

Ideally we need a node library that can do this. There is a plan for a npm package here https://github.com/solana-labs/solana-solidity.js/issues/1, I will add an e

[2021-08-24 15:20] oksanassss commented on #471
I'm looking forward.

[2021-08-24 17:08] seanyoung commented on #471
That solana-solidity.js project has just received funding from Solana (25k USD). Hopefully it will move quickly.

[2021-08-28 10:21] seanyoung commented on #172
Actually the eth abi encoder/decoder should be decomposed into cfg instructions, rather than complex composite cfg instructions like they are now.

[2021-09-01 14:10] janus commented on #284
@seanyoung Please review my code before. I changed coerce_integer to coerce_number

[2021-09-06 01:05] scnale opened #487 "Non-deterministic compiler output"
Hey, I was trying out the compiler with this [prototype](https://github.com/seanyoung/uniswap-v2-core/tree/solana/solana) but I noticed that the compiler sometimes outputs a slightly smaller binary. I've been able to reproduce this with the following compilation parameters:

[code]
I trimmed down the compiled contracts to see if I could still reproduce this too:
[code]
And, indeed, I managed to ob

[2021-09-06 10:01] seanyoung commented on #487
That is very weird! I'm having a look.

[2021-09-06 10:35] seanyoung opened #489 "fn sema::expression should use ExprContext"
While resolving expressions, it is important to know:
 - what source file we're
 - what contract we're in (if any)
 - what function we're in (if any)
 - if we're in an `unchecked {}` block
This can be stored in ExprContext.

Currently these four items are passed into each resolver function individually (as needed). By using struct ExprContext the code will be cleaner, shorter and probably less lik

[2021-09-06 11:34] seanyoung commented on #487
I've found an issue which is fixed in #490. I should go back and see if the ERC20 tests are now consistent.

[2021-09-06 13:13] seanyoung commented on #487
Ok, so there still is non-determinism in the tests.

[2021-09-08 06:44] janus commented on #284
Thanks

[2021-09-08 06:53] janus commented on #284
This is what I have already inside `coerce_number` function:
[code]
Is it not complete?

[2021-09-08 12:15] seanyoung commented on #284
I guess so, you also need to check for both l and r being rational.

What I forgot to mention is that you need a simple test case that shows that "uint x = 2.5 + 3.5 - 1;" works

[2021-09-15 05:00] akhtariev opened #493 "How can I import an external library to compile with solang?"
Hi there!

I am trying to compile my existing smart contracts with solang. The project is normally compiled with `brownie`. However, when I use `solang` I get an import error related to  the external `openzeppelin`:
[code]

I can compile the simple example contracts from this repo. I can also compile the project with `brownie`. I guess my question is how can I compile contracts that import externa

[2021-09-23 07:59] seanyoung commented on #493
I suspect what is going on here is that when solc is invoked, a mapping is provided from `@openzeppelin` to the directory to where openzeppelin lives. Solang does not provide such an interface yet.

You can work around the isse temporarily by creating a symlink to openzeppelin:

[code]

Solang should also support mappings, this should be added to the imports command line.

[2021-09-24 07:34] seanyoung commented on #493
I've started work on this. It's not working on Windows for some reason. https://github.com/hyperledger-labs/solang/pull/496

[2021-09-24 08:43] seanyoung commented on #493
So that PR is merged now. Please try again with `solang -m @openzeppelin=/directory/where/openzeppelin/lives`. I'm interested to hear how that works for you

[2021-09-24 10:00] talentlessguy opened #497 "Compiling to WebAssembly"
Hello, I'm writing a Deno library for Solidity compiler bindings and I decided to try to wrap Solang.

I am following this guide for compiling Rust to WebAssembly: https://depth-first.com/articles/2020/06/29/compiling-rust-to-webassembly-a-simple-example/

my linux kernel version is 5.10.63, distro is Manjaro Linux

I installed `lld`, `lib32-llvm`, `libc++`, `rustc` 1.53, `rustup` 1.24.3

and adde

[2021-09-24 11:15] seanyoung commented on #497
I think solang should be compiled to wasi, like so:

[code]
Then again I don't know if node and/or browsers support wasi.

If I try that, I just get an error about llvm not being found: the llvm libraries needs to built for wasm first. I've tried to do this with clang and failed, I was going to do this with emscripten next.

[2021-09-24 11:17] seanyoung commented on #497
Also @talentlessguy thank you for looking at porting solang to webassembly, this is really needed :smile:

[2021-09-24 11:31] talentlessguy commented on #497
@seanyoung

1) Yes there's `wasi` in Node.js and [std/wasi](https://deno.land/std@0.108.0/wasi) in Deno
2) It still fails but for different reasons:

[code]

[2021-09-24 15:22] seanyoung commented on #497
So there are two issues:
- clang needs the wasi sdk. Copy this into your clang directory and add `--sysroot=wasi-sysroot..` using `TARGET_CFLAGS` and `TARGET_CXXFLAGS`
- inkwell needs a little patch, working on that

[2021-09-24 15:24] seanyoung commented on #497
With that done a whole new world of pain is opened: linking. This requires a wasm build of llvm which can be done with emscripten, I think. I don't have it working yet.

[2021-09-24 15:30] talentlessguy commented on #497
@seanyoung It still errors:

[code]

[2021-09-24 15:40] seanyoung commented on #497
You need to set the correct sysroot for the wasi sdk (share/sysroot in wasi-sdk).

inkwell needs this fix: https://github.com/TheDan64/inkwell/pull/270

[2021-09-24 16:05] talentlessguy commented on #497
@seanyoung oops sorry I found out the location of `sysroot` it was in `/opt/wasi-sdk`

but now I get this:

[code]

[code]

[2021-09-24 16:12] seanyoung commented on #497
Ok, now the issue is that you are using your systems llvm, so compiled for x86, not an llvm cross-compiled to wasm. That can be done with emscripten (I hope).

[2021-09-24 16:17] talentlessguy commented on #497
@seanyoung do you know how to do that?

I have both emscripten, llvm and wasi-sdk installed. I also have `wasm-ld`

[2021-09-24 16:19] seanyoung commented on #497
I haven't gotten it working yet. Any help would be appreciated.

[2021-09-27 09:04] janus commented on #284
@seanyoung
I would like to write test for the parser to verify my code, like we have for lexer. Is there something like that?

[2021-09-27 09:41] seanyoung commented on #284
I would suggest adding a test like this one: https://github.com/hyperledger-labs/solang/blob/main/tests/solana_tests/simple.rs#L94-L142

[2021-10-01 16:01] janus commented on #284
@seanyoung
I got the below to pass:
`uint x = .5 * 8;`
`uint x = 1;`
`uint y = x + 0.1;`

However, these are failing:
 `1e-2`
`0.001e2`

I will debug my code. Please go through my code ( and tests) and comment.

This link is broken, https://solang.readthedocs.io/en/latest/installing.html#installing-llvm-on-linux  .

[2021-10-03 06:54] seanyoung commented on #284
I've fixed the link. Thank you for mentioning that.

Your code looks good. See my comment on the pull request. You do need to fold the work into one commit, and make sure you have your full name in the `Signed-off-by` line.

[2021-10-03 22:35] janus commented on #284
@seanyoung
I have added your comments to the code. Please review.

NB
I have learnt so much and wont mine doing more tasks in the future.

[2021-10-04 00:28] janus commented on #284
@seanyoung
I need help. I don't know how to get `Visual Code Extension test ` to pass. I need step by step instruction.

[2021-10-04 07:17] seanyoung commented on #284
Change https://github.com/hyperledger-labs/solang/blob/main/vscode/src/test/suite/extension.test.ts#L35 from:
[code]
to
[code]
Please also note the review I've left. Should not take long to fix

[2021-10-04 11:06] janus commented on #284
@seanyoung

I get error message if I remove Int/Uint/Value.

[code]
There may be something wrong with my cast then.

[2021-10-06 06:33] seanyoung commented on #284
There have been no changes the PR since the last review

[2021-10-06 06:36] seanyoung commented on #284
Please merge all the changes into one commit and push so they are visible at https://github.com/hyperledger-labs/solang/pull/384

[2021-10-07 06:34] #284 closed

[2021-10-07 08:57] seanyoung commented on #487
The compiler output is deterministic now.

[2021-10-07 08:57] #487 closed

[2021-10-07 09:31] #314 closed

[2021-10-07 09:31] #422 closed

[2021-10-08 07:07] UESuperGate opened #517 "Is it possible to use LLVM Pass module in Solang?"
Hi there!

I'm curious about whether Solang supports loading LLVM Pass module to perform some preprocessing on the generated LLVM-IR.

For instance, we can use LLVM Pass module in clang like this:
`clang -Xclang -load -Xclang ../build/PlacementPass/libLLVMPassname.so demo.c -o demo`

Can Solang do the same thing?

[2021-10-09 10:04] seanyoung commented on #517
Ok, interesting. Do you have a specific pass in mind?

[2021-10-09 10:37] UESuperGate commented on #517
I found a pretty interesting [paper](https://arxiv.org/abs/2101.01917) which provides a vulnerability detection method based on a series of well-defined dependency rules, and the corresponding patch scheme.

Therefore, I will try to optimize and port this set of programs to LLVM Pass though it's just a idea in my mind for now.

[2021-10-16 13:02] seanyoung commented on #497
I think we need this resolved. https://github.com/rustwasm/wasm-pack/issues/654

Then again, others have compiled clang to run in a browser - which means wasi is not necessary.

[2021-10-27 08:31] seanyoung opened #534 "Replace `-O less` command line option with `-O0`, `-O3`, `-Oz`, and `-OZ`"
You can specifiy the llvm optimization level with `-O less`, `-O default`, etc. This is not the standard way compilers take an argument for optimization. So, we want `-O1`, `-Oz` etc.

This requires changing the clap argument parsing.

Follow what gcc/clang offers (checks this!).

[2021-10-29 21:10] seanyoung opened #541 "Produce metadata with storage layout"
This will make it possible to walk storage and dump the entire state

[2021-11-01 17:31] seanyoung commented on #459
Fixed by https://github.com/hyperledger-labs/solang/pull/542

[2021-11-01 17:31] #459 closed

[2021-11-03 16:38] taquangtrung opened #548 "Why does Solang compile a constant into a function in the intermediate LLVM bitcode?"
Hi,

I'm studying the way that Solang compiles Solidity smart contracts into LLVM bitcode. When testing Solang to generate LLVM bitcode, I notice that a constant will be compiled into a function.

Here is the Solidity contract that I tested:

[code]

After running `solang --emit llvm-bc -v --target ewasm count_input.sol` and disassembling the output file `CountInput_deploy.bc` into `CountIput_depl

[2021-11-03 18:00] seanyoung commented on #548
Since the variable `count` is declared `public`, it will have an accessor function. This means you can call count on the contract, and the value of count will be returned. This is why there is a function for this. You will see a function "count" in the abi file as well.

If you do not want the variable to have an accessor function, declare it `private` or `internal` rather than `public`.

The valu

[2021-11-03 18:03] seanyoung commented on #548
For ewasm, there is the deploy code which is called during deployment, this contains the constructor and any functions that are called (they're all included, but will be removed by dead code elimination). The deploy code sets the address with the runtime code, so the deployer contains a copy of the runtime. Hope that makes sense. Ethereum is a bit odd in this area.

[2021-11-04 04:14] taquangtrung commented on #548
@seanyoung: Thanks a lot for your reply! Now I understand why there is a function `count` in the compiled output.

For the runtime bitcode, is it correct to say that `CountInput_runtime.bc` is an optimized version of `CountInput_deploy.bc`?

[2021-11-04 09:07] seanyoung commented on #548
When a contract is created on ethereum, the following steps are done:
- A create contract transaction is sent which contains a set of ewasm/evm instructions; this contains the ewasm version of `CountInput_deploy.bc` (the *deployer*) and the argument to constructor amongst other parameters
- A new address is for the new contract
- The deployer instructions are executed, and (if successful) the depl

[2021-11-04 09:09] seanyoung opened #549 "cfg blocks should be created in execution order"
Currently the order of the blocks is not correct. We need to:
- Fix the order of the blocks
- Add a verify function to ensure the block order is correct

Found by @LucasSte

[2021-11-04 15:45] taquangtrung commented on #548
@seanyoung : Wow, thank you very much for the explanation! Now I understand why there are two generated bitcode files!

[2021-11-04 15:58] seanyoung commented on #548
np!

[2021-11-04 15:58] #548 closed

[2021-11-04 17:25] taquangtrung opened #551 "Maybe an incorrect warning related to the use of private variable?"
Hi,

When compiling the contract:

[code]

using the command `solang --emit llvm-bc -v --target ewasm count_input_private.sol`,
I receive a warning that: `warning: storage variable 'count' has been assigned, but never read`.

Can you double check if this warning is incorrect?

The variable `count` is used inside the function `run`.

Here is the full compilation output.

[code]

Thanks!

[2021-11-04 18:02] taquangtrung commented on #551
I think that `count += input` includes both a read and a write action to `count`, it is a shorthand for `count = count + input`.

So, the new message `warning: storage variable 'count' is written, but is never read` will still be confusing.

Btw, when I change `uint private count = 1;` to `uint public count = 1;`, then such message doesn't appear.

So, maybe it's something related to the `private`

[2021-11-04 19:29] seanyoung commented on #551
Yes, the `+=` does need to read the value to increment it, but that's not the point: the actual value of count is still not used anywhere, It is just wasted space.

However if the `count` is declared `public` then the value can be read via the public accessor function, so it can be read. That's why the warning goes away when its declared `public`.

[2021-11-04 19:44] taquangtrung commented on #551
Oh I see. I got your point here. It's like a more advanced heuristic to detect unused code!

Thank you for the explanation!

[2021-11-04 22:26] seanyoung commented on #551
Glad I could help.

I think the compiler warning could be improved. Any suggests to what it should say?

[2021-11-06 16:56] LucasSte commented on #551
Something like `Dead variable: Removing it will have no effect in your contract.` may be better. What do you think?

[2021-11-09 16:15] taquangtrung commented on #551
Hi, to follow up with this example, when I change the statement `count += input` into `count = count + input`:

[code]

Then Solang will not throw any warning:

[code]

Maybe Solang has a different treatment for `+=`?

[2021-11-09 16:21] taquangtrung commented on #551
Also, when compiling the original example without optimization `--no-constant-folding --no-strength-reduce --no-dead-storage --no-vector-to-slice -O none`, I see that somehow the LLVM bitcode is still optimized:

[code]

Here is the compilation command:

[code]

and the generated bitcode of the function `run`:

[code]

Can you advise how to totally disable the optimization pass of Solang?

Thank y

[2021-11-09 17:17] LucasSte commented on #551
Yes, "+=" and addition are different expressions in Solang. Currently, it verifies unused variables during an AST traversal and detecting that for complex assignments required special treatment, so it is a feature that will be added in the future.

[2021-11-10 04:07] ChristianChiarulli opened #553 "Problem with Language Server"
Using command:

[code]

Returns this error:

[code]

[2021-11-10 04:24] ChristianChiarulli opened #554 "Language Server ignore imports"
Is there anyway you can provide a comment that will allow the language server to ignore certain errors.

![image](https://user-images.githubusercontent.com/29136904/141049280-ef30bcd3-eaf2-4af2-92fd-36ef0336295a.png)

Something like:

[code]

[2021-11-11 10:08] taquangtrung opened #555 "Unable to compile the latest Solang from source code"
Hi,

I'm trying to build Solang from source (revision https://github.com/hyperledger-labs/solang/commit/e3237e97a9b50b6c1ab0e61689c1e5e34150ca10 ), using `cargo build --release` but always encounter the following errors during the compilation.

[code]

I'm using the newest rust 1.56.1 and the customized LLVM 12 provided in https://github.com/hyperledger-labs/solang/releases/tag/v0.1.9.

Can you ad

[2021-11-11 10:15] seanyoung commented on #555
Your build is using an old version of inkwell. Please remove `Cargo.lock` and try again

[2021-11-11 10:19] seanyoung commented on #554
The language server goes through the normal parser code from the compiler.

Why would you would want suppress this error?

You could also use the vscode ui to filter errors.

[2021-11-11 10:25] taquangtrung commented on #555
@seanyoung: thank you so much! I can build Solang. successfully now!
(Previously I did try `cargo clean` but wasn't aware of `Cargo.lock`)

[2021-11-11 10:25] #555 closed

[2021-11-11 10:26] seanyoung commented on #553
The problem is that ewasm does not have the implementation for string in contract storage.

What would you like to use the ewasm target for?

[2021-11-11 13:35] sushi-shi opened #557 "Interfaces in mappings do not work"
This code panics at `src/sema/types.rs:830:19` with
[code]
[code]

[2021-11-11 13:43] sushi-shi opened #558 "Modifiers of functions with return values containing multiple `_` fail LLVM assertions"
This contract fails with
[code]
[code]

[2021-11-11 17:45] taquangtrung commented on #551
@LucasSte: do you think if it makes sense to disable this unused variable removal when the flag `-O none` (no optimization) is enabled?

Currently, even when `-O none` is enabled, this `count += input` statement will still be removed when generating LLVM bitcode.

I found the code that checks this unused condition at: https://github.com/hyperledger-labs/solang/blob/e3237e97a9b50b6c1ab0e61689c1e5e3

[2021-11-11 18:01] LucasSte commented on #551
There are two levels of optimization that happens in Solang. There is some optimization from Solang itself and those of LLVM. I have worked on some compiler optimizations for Solang and I can answer a few of your questions. For LLVM optimizations, you should ask @seanyoung.

You can try checking if commenting that function will work for your use case by running Solang with `--emit cfg`, which prin

[2021-11-11 18:49] sushi-shi opened #559 "Zero initialized mappings do not work for Solana target"
This contract fails when target is `Solana` and compiles on `Substrate`.
[code]
With
[code]

[2021-11-11 18:55] sushi-shi commented on #559
There is even smaller error case. Still fails for Solidity.
[code]

[2021-11-12 09:52] seanyoung opened #561 "vscode extension does not work without access to api.github.com"
I tried using vscode extension while in airplane mode, and the vscode extension tried to check for the latest version. When this failed, it did not start the already-downloaded version of solang.

[2021-11-14 15:31] #561 closed

[2021-11-16 04:24] ChristianChiarulli commented on #554
Whenever I import something remote I will see this error.

I would like to suppress it because it's annoying.

Also this is Neovim, so I don't have that option.

[2021-11-16 09:48] seanyoung commented on #554
I think a better solution might be to figure out a way to solve the import errors. I'm not keen on suppressing some errors because they're annoying - they are real issues that likely to cause further issues, since some definitions are missing. We might need some extra functionality to make imports work better.

So, in the example above, you import `hardhat/console.log`. Is this file available some

[2021-11-16 14:21] jgil-r opened #566 "error: linking with `cc` failed: exit status: 1"
I am unable to install solang using `cargo install solang`.

rustc --version: `rustc 1.56.1 (59eed8a2a 2021-11-01)`
OS: Fedora 35 Workstation

Installed pre-build version of llvm specifically configured for Solang. I have the following export in my `.zshrc`:
`export PATH="$PATH:/home/chuy/Downloads/llvm12.0/bin"`

This is the full error I get:
[code]

[2021-11-16 15:45] seanyoung commented on #566
solang shouldn't be linking about against libffi, so I've just merged https://github.com/hyperledger-labs/solang/pull/567 to fix this.

The alternative is to do `sudo dnf install libffi-devel`.

Like your choice of OS. Fedora is definitely the best :smile:

[2021-11-17 05:29] ChristianChiarulli commented on #554
The error will go away if the file is locally available. However,

![image](https://user-images.githubusercontent.com/29136904/142140385-7188c7f4-6855-47d8-af1f-4bfaef8d4319.png)

![image](https://user-images.githubusercontent.com/29136904/142140450-fceb9720-3408-4a74-803a-e3a3ea79d010.png)

These sources are fetched at compile time, using brownie for instance.

[2021-11-17 12:08] BSix5 opened #568 "solang --target solana deploy only success in local network"
The compiled program runs normally on the solana local network, but runs on other clusters with errors. The error message is as follows:

Transaction simulation failed: Error processing Instruction 1: Program failed to complete
    Program 11111111111111111111111111111111 invoke [1]
    Program 11111111111111111111111111111111 success
    Program 5XFgqZgRXCNqqZ76aBVnu3amYWSG8fceEYxxxviWid6c invoke

[2021-11-17 14:39] seanyoung commented on #568
This means that the `sol_log_data` syscall is not enabled. This syscall is a feature that may require enabling. What cluster are you using? How was it set up?

[2021-11-17 15:20] seanyoung commented on #554
I think you are right, a package manager would help here. That does not exist yet, and that would be a major piece of work.

The entries under `compiler.solc.remappings` could be provided as command line arguments to solang, like so:

[code]

[2021-11-17 15:20] #554 closed

[2021-11-17 15:21] #553 closed

[2021-11-17 15:22] seanyoung commented on #551
I think everything in this issue has been addressed. Can it be closed?

[2021-11-17 17:23] jgil-r commented on #566
Cool, thank you! No doubt, Fedora is great!

[2021-11-17 17:41] jgil-r commented on #566
I tried installing it again and got the following error this time (even after installing `libffi-devel`):
[code]

[2021-11-17 18:12] seanyoung commented on #566
llvm does depend on libxml2 and libz.

This should do the trick:

`sudo dnf install libxml2-devel zlib-devel`

[2021-11-17 18:26] jgil-r commented on #566
That did it, I really appreciate the help!

[2021-11-17 18:26] #566 closed

[2021-11-18 02:11] BSix5 commented on #568
i use https://api.devnet.solana.com cluster

[2021-11-18 07:06] BSix5 commented on #568
https://github.com/hyperledger-labs/solang/commit/e9e0ba5a5621ab2939051c11c53b3a3a3daa62f8
i see you add sol_log_data in syscalls, Do you need to recompile solang by yourself

[2021-11-18 12:25] #568 closed

[2021-11-19 02:12] taquangtrung commented on #551
Yes, thank you! I'll close it! :)

[2021-11-19 02:12] #551 closed

[2021-11-19 11:40] #557 closed

[2021-11-21 00:00] gorgos opened #574 "VS Code Extension is broken: 'Failed to download: Cannot read property 'browser_download_url' of undefined'"
From me looking into it, there seem to be several issues:

1. Wrong name used for downloading. Platform name is coming from here:
https://github.com/hyperledger-labs/solang/blob/10edadffab522cca59910cf50dec233e8437464f/vscode/src/utils/getPlatform.ts#L10-L11

    But the [download json](https://api.github.com/repos/hyperledger-labs/solang/releases/latest) name is actually `llvm13.0-mac-intel.tar.x

[2021-11-21 10:01] seanyoung commented on #574
Please can you try again. The extension thinks the llvm 13 libraries release was the latest release. I've updated that to be a pre-release so it won't be listed as the latest release.

This is a bit messy because when moving llvm versions, I need to store the llvm libraries somewhere. Maybe I should have done a new release of solang.

You said you have a local copy of solang. We really need an opt

[2021-11-22 09:50] oznfc opened #575 "solana deployed program"
How can I call deployed contract with program and storage address ?

[2021-11-22 21:25] seanyoung commented on #574
@gorgos what do you think of https://github.com/hyperledger-labs/solang/pull/577 ?

[2021-11-22 21:51] gorgos commented on #574
@seanyoung Thanks, download is working now. Also the new option to use already installed binary looks great.

[2021-11-23 18:27] #574 closed

[2021-11-24 10:33] seanyoung commented on #575
dup https://github.com/solana-labs/solana-solidity.js/issues/16

[2021-11-24 10:33] #575 closed

[2021-11-25 20:33] seanyoung commented on #558
This problem should be fixed now.

[2021-11-25 20:33] #558 closed

[2021-11-27 20:30] gorgos opened #581 "Using SipHash with private node key"
I came across this section in the documentation:

But it makes me wonder, why not use SipHash and have each node create its own private key? As long as they process transactions from the beginning without changing this private key, that should work, right?

Maybe I'm missing something though.

[2021-11-27 23:02] gorgos opened #582 "Support for CosmWasm"
Any chance `solang` could be supporting [CosmWasm](https://github.com/CosmWasm/cosmwasm) (smart contracts for Cosmos chains) in the future?

[2021-11-28 09:00] seanyoung commented on #581
Hi @gorgos thanks for that.

As I understand it, a smart contract runs on-chain, and it is stored on the chain (on solana, substrate, and ethereum at least). The program code and storage is completely public. There is no place to store a private key.

What do you mean by node?

[2021-11-28 09:11] seanyoung commented on #582
I have looked at CosmWasm in the past, and it is entirely possible to support it. However, this is a lot of work and I do not have the time.

It might be possible for someone to get a [grant from cosmos](https://interchain.io/funding/) to implement this. This does require knowledge of cosmos, llvm IR and compilers in general. I am always available to support anyone doing this work.

[2021-11-28 09:40] gorgos commented on #581
@seanyoung Yeah, I mean don't store it in the smart contract, but fundamentally all code in a smart contract will be executed on a node, usually a validator for staking blockchains which is a computer that's participating in the consensus mechanism. Each node can have its own private key for usage with SipHash making “hash flooding” attacks, because an attacker won't know where each node hashes th

[2021-11-28 09:56] seanyoung commented on #581
@gorgos smart contract should be deterministic.

- If different nodes result in different execution results, then that is necessarily a consensus failure.
- If only one node can execute a smart contract, then that is totally untrustworthy: that node could return whatever it wants and noone could check it
- The storage for the contract is stored on chain. It should be possible to figure out what th

[2021-11-28 20:02] gorgos commented on #581
@seanyoung How are the blockchains protecting themselves from hash flooding in their native languages?

[2021-11-29 09:30] seanyoung commented on #581
As far as I know, they just avoid hash tables with collision chains.

[2021-11-29 10:36] hxrts commented on #582
Hey, I run the grants program at the Interchain Foundation. We're pretty thin on personnel to support this, but would be open to a grant if you're interested in adding support for cosmwasm. Application is at apply.interchain.io if you're interested.

[2021-11-29 13:46] seanyoung commented on #582
I'd love to see CosmWasm support, so I'm available to help.

[2021-11-30 21:11] gorgos commented on #581
@seanyoung Then wouldn't those chains suffer the same flooding attack scenario even in their native language?

[2021-11-30 21:52] seanyoung commented on #581
Can you give an example please?

[2021-12-01 01:20] gorgos commented on #581
@seanyoung After speaking to @xlc from Acala, he mentioned that Substrate Wasm smart contracts are by default using on-chain storage on the native layer which is using the standard Rust hash table functionality that includes calculating a random value. In other words at least for Substrate is should be possible, not sure about the other chains.

[2021-12-01 05:00] taquangtrung opened #584 "Can Solang generate debugging information of variable, function names and locations?"
Hi,

I'm looking for the mapping for variable names/locations from Solidity source code to the generated LLVM bitcode. Is it possible to make Solang generate such debugging information?

For example, here is a Solidity source code:

[code]

When compiling to LLVM IR by `solang integer_overflow_mul.sol -O none --target ewasm --emit llvm-ir`, the generated metadata doesn't contain any information ab

[2021-12-01 09:36] seanyoung commented on #581
Substrate/Ethereum storage is a key-value store, so in the case the problem is handled by the runtime. The problem description talks about mappings in _memory_, so that does not help there.

[2021-12-01 16:47] seanyoung commented on #584
solang needs to add the correct debug information. This should be done using this api https://thedan64.github.io/inkwell/inkwell/debug_info/index.html

All the information should be known by solang, it just needs wiring up.

[2021-12-01 17:57] taquangtrung commented on #584
@seanyoung: I can help to implement this feature.

Can you give me some suggestions on the starting points so that I can get into it quicker?

[2021-12-01 19:21] gorgos commented on #581
DIdn't see that, mappings in memory should be small enough to not suffer from this I think.

[2021-12-02 20:41] gorgos commented on #581
@seanyoung This is from the original Solidity docs:

Why does Solang require mappings in memory?

[2021-12-03 09:36] seanyoung commented on #581
Two reaons:
 - You might want to use temporary hashmap in solidity, and declare a mapping as a local variable.
 - Solana uses a blob of memory as account storage (up-to 10MiB). So Solana has the same problem for contract variables.

[2021-12-03 10:29] seanyoung commented on #584
@taquangtrung sorry for the delay I had to get up to speed with debug info too.

Solang generates the llvm IR in `src/emit/mod.rs`. There is a struct called `Binary` which holds all the relevant information for generated binary file (this could do with a better name).

First creating the debug info builder needs to be created, like this https://thedan64.github.io/inkwell/inkwell/debug_info/index.h

[2021-12-03 11:04] xlc commented on #581
If the in memory hash map is small, the performance difference should be tolerable .

[2021-12-03 11:08] seanyoung commented on #581
On the other hand, an adversary could try to create long hash chains as a denial-of-service attack.

[2021-12-04 05:05] xlc commented on #581
To the smart contract platform, all those execution time will be metered and charges gas accordingly so no issues here.
To smart contract developers, it is their responsibility to ensure their own contract cannot be manipulated to create big hash map in memory.

[2021-12-05 12:51] ivancsicsmarkus opened #589 "Can't deploy to devnet: Unresolved symbol (sol_log_data)"
I can't deploy to [devnet](https://docs.solana.com/cluster/rpc-endpoints#devnet). I'm using the latest solang, built from Github directly with the [latest llvm](https://github.com/hyperledger-labs/solang/releases/tag/llvm13.0-1) released.

I've seen [this](https://github.com/hyperledger-labs/solang/issues/568) issue but I don't know how it got resolved. Building from source did not help me. I'm us

[2021-12-05 12:58] ivancsicsmarkus commented on #559
I think the issue is that function boom() is private and it is not used at all in the FixedSwap contract.

[2021-12-05 13:02] ivancsicsmarkus commented on #589
[solang.zip](https://github.com/hyperledger-labs/solang/files/7655879/solang.zip)
Here's solang executable built for ARM Mac that produces faulty build of contract.

[2021-12-05 14:12] ivancsicsmarkus commented on #589
I've found the issue. I was using standard Solidity libs from Openzeppelin. Specifically [Ownable](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/access/Ownable.sol). It was emitting events in the constructor. For some reason, this caused issues. Commenting `emit OwnershipTransferred(oldOwner, newOwner);` fixed the error. I think I'll have to port some of these contra

[2021-12-06 10:12] seanyoung commented on #559
That should not make the compiler panic. I'm working on a solution in #580 .

[2021-12-06 10:13] seanyoung commented on #589
The problem is that the `sol_log_data` syscall is not enabled on devnet. In the mean time, you can run up a private solana node and develop against that.

[2021-12-06 11:01] beauwilliams commented on #554
Adding an import map to the neovim lsp config for solang should fix it.

You can do it like so by adding an argument to the default `cmd` specified in neovim/lspconfig

`cmd = {"solang", "--language-server", "--target", "ewasm" , "--importmap=hardhat=node_modules/hardhat" }`

[see my full neovim lsp config for solang here](https://github.com/beauwilliams/Dotfiles/blob/master/Vim/nvim/lua/lsp/_sola

[2021-12-06 11:06] ivancsicsmarkus commented on #589
Thank you for your answer.

What about sol_set_return_data? I've got some errors for that as well, that I could not resolve yet.

[2021-12-07 08:48] SvenMeyer opened #590 "error if output directory does not exist"
[code]

`$ mkdir build`

[code]

[2021-12-07 09:31] SvenMeyer opened #591 "`--importmap` does not work with (relative) imports of imports"
option `--importmap` allows to import a `.sol` file, but if that in turn imports another `.sol` file (using a relative path), as this is the case will amlomst all OpenZeppelin contracts, then these are not found.

`OZimport.sol`

[code]

`node_modules/@openzeppelin/contracts/access/AccessControl.sol`

[code]

`$ ./solang-linux -o build --importmap @openzeppelin=node_modules/@openzeppelin --target

[2021-12-07 09:53] SvenMeyer opened #592 "Solidity keyword `using` not recognized => error: unrecognised token `using'"
[code]

[code]

[2021-12-07 10:21] seanyoung commented on #590
solc does create the directory if it does not exist. I think solang should do the same.

[2021-12-07 10:32] seanyoung commented on #592
I can't reproduce this issue.

The error looks like the parser grammar doesn't know about `using` in contract context which should work fine, that is where `using` should be.

In order to get my reproduction right, it would be useful to know the exact version of solang `solang --version` and where you got it from. Also where you running this (linux distribution or wsl or something else).

Thanks

[2021-12-07 10:38] SvenMeyer commented on #592
fresh download today ...

[code]

[2021-12-07 13:05] seanyoung commented on #592
This is on line 848, but the file you quoted contains only 10 or so lines. Can you attach the entire file please, thanks

[2021-12-08 12:00] #591 closed

[2021-12-08 18:19] #590 closed

[2021-12-09 12:17] seanyoung commented on #589
The same issue. We should be activating all the features on testnet soon.

[2021-12-09 18:26] seanyoung opened #596 "Replace division with multiply when possible"
This belongs in the strength reduce pass.

https://news.ycombinator.com/item?id=19116020

https://lemire.me/blog/2019/02/08/faster-remainders-when-the-divisor-is-a-constant-beating-compilers-and-libdivide/

[2021-12-10 18:55] shekhirin opened #597 "Feature gate LLVM dependency"
## Problem

Currently there's no way to use `parser` without compiling the `inkwell` dependency which in turn requires the LLVM to be installed.

I encountered that issue while working on Solidity formatter in Foundry (https://github.com/gakonst/foundry/pull/201) where we use only `parser::parse` function to construct the AST. Without the hard LLVM dependency it would be much easier for users to i

[2021-12-10 21:25] seanyoung commented on #597
This is totally a good idea. The solang vscode plugin also does not need llvm, and if did not need llvm, it could be built as a onode wasm module.

The llvm dependencies *should* be in `src/emit/`. If they're not, they should be abstracted/moved.

An Solidity formatter is a great.I'd love to see that happen.

[2021-12-10 21:37] maxall41 opened #598 "unrecognized token when using `///` comments"
When using `///` to comment lines in solidity it results in:
[code]
command:
[code]
It seems like Solang does not properly parse this type of comment

[2021-12-11 09:48] seanyoung commented on #598
The `///` comment is a doccomment and should be attached to something. I agree that the error message is not very descriptive.

Would you mind posting the entire file? Thanks.

[2021-12-11 17:44] maxall41 commented on #598
Sure. Here you go:
[code]

[2021-12-11 18:17] seanyoung commented on #598
Thanks. Looks like solc 0.8.10 allows doccomments on statements in functions now, I had not seen that in the release notes.

I'll try to fix solang's parser to match.

[2021-12-13 11:44] SvenMeyer commented on #592
@seanyoung yes, the error message was from my full contract, but I extracted only the relevant lines for the post.

However, looks like it has been fixed already in Solang version v0.1.9-58-g991ddaf1

[code]

[2021-12-13 11:52] SvenMeyer opened #600 "error : hex literal 0x00 must be 64 digits for type ‘bytes32’"
This should work (ethereum solidity compiler has no issue with it), but gives an error :

`bytes32 public constant DEFAULT_ADMIN_ROLE = 0x00;`

[code]

[2021-12-13 16:04] #600 closed

[2021-12-14 09:33] #597 closed

[2021-12-14 18:26] seanyoung commented on #592
Perfect!

[2021-12-14 18:26] #592 closed

[2021-12-17 09:10] seanyoung commented on #284
@Web3Foundation a reminder, this work has been completed and merged. Thanks

[2021-12-17 16:01] sushi-shi commented on #582
I would _really_ want to look into it, but I'm a bit pressed on time till the end of this month. Yet I will be ready to look into it right after.

[2021-12-17 18:08] 0xS0l opened #607 "Receive and transfer Solana SPL token into smart contract"
I'm building a smart contract that can receive and send Solana SPL tokens, but I don't see any document mention about that or any example from doing that.

Have Solang supported that yet? If it is, please help me find it out. Thank you.

[2021-12-17 18:10] seanyoung commented on #607
This is not possible yet. I am working on this

[2021-12-18 06:50] 0xS0l commented on #607
Thanks. May I ask the ETA for that feature if you don't mind?

[2021-12-19 11:50] seanyoung commented on #598
I woke up this morning with a solution.

Unambiguous LR grammars are hard :cry:

[2021-12-19 12:05] #598 closed

[2021-12-20 17:28] #559 closed

[2021-12-21 17:58] abhi3700 opened #611 "Installation error for MacOS M1"
I am facing an installation error related to `solang`.

[code]

I followed these from [here](https://solang.readthedocs.io/en/latest/installing.html):
* Install LLVM from [here](https://solang.readthedocs.io/en/latest/installing.html#installing-llvm-on-mac)
* Install solang from __crates.io__ using `$ cargo install solang`.

What could be the reason?
Anyone please?

[2021-12-21 18:50] seanyoung commented on #611
So you're on mac m1,which is arm hardware. Somehow your rust is linking with `"cc" "-m64" "-arch" "x86_64"` which intel.

Could you post the output of `rustup show` please?

You downloaded the llvm for mac m1, right?

[2021-12-22 05:24] abhi3700 commented on #611
I installed the LLVM for Mac M1.

This is the result of `rustup show`:
[code]

[2021-12-22 09:27] seanyoung commented on #611
You've installed rust for x86-64 (intel), not arm.

[2021-12-22 10:34] seanyoung commented on #607
I'm drawing up some plans now, there is quite a bit of plumbing involved. I think it should be done by the end of January.

[2021-12-24 11:18] #611 closed

[2021-12-24 11:23] seanyoung commented on #581
@xlc many contracts like uniswapv2 allow hashmap entries to be created, where the key is controlled by a potential adversary. For example here: https://github.com/Uniswap/v2-core/blob/master/contracts/UniswapV2Factory.sol#L10

On Solana key can be selected which would make the hashmap into a linked list.

Saying "To smart contract developers, it is their responsibility to ensure their own contract

[2021-12-24 18:03] xlc commented on #581
How about using other map implementation instead of HashMap?

[2021-12-24 20:14] gorgos commented on #581
@seanyoung Your referenced contract is a state (not a memory) hash map (as all mappings in Solidity for Ethereum are) and so it shouldn't be a problem, right?

[2021-12-25 10:24] seanyoung commented on #581
On Solana state is stored in a single contiguous piece of memory; this is implemented so that it can be much faster than Ethereum (for myriad of reasons).

So for Solana we have a problem.

[2021-12-25 10:24] seanyoung commented on #581
Yes, we can use a BTreeMap instead. This is not as fast though.

[2021-12-25 21:11] gorgos commented on #581
If it's only Solana, then my original idea might be worth considering and talking to Solana devs for support: https://github.com/hyperledger-labs/solang/issues/581#issuecomment-981054011

[2021-12-26 22:37] seanyoung commented on #581
What you're essentially proposing is a syscall on solana which functions like the key-value store on Ethereum. This would require a lot of infrastructure and also would come with quite some overhead. Simply using a BTreeMap would be better.

[2021-12-27 03:58] daodao2007 opened #612 "build contracts-upgradeable error evm assembly not supported on target solana"
[code]

[2021-12-31 00:37] #612 closed

[2021-12-31 10:14] seanyoung commented on #612
This needs better documentation, and the error message should point to this documentation.

Since solang does not build for EVM, evm instructions are not supported. We should port openzeppelin to solang if possible.

[2022-01-03 07:16] sueboy19 opened #617 "examples/full_example.sol run at remix.ethereum.org Failed!"
Try to put full_example.sol contract content run at remix.ethereum.org get some errors.

use solidity complier：0.8.11

Try to fix

1. add memory at card c and card previous
[code]

2. add memory at card
[code]

3. add memory at card c
[code]

4. Can't fix error

[code]

Error Message：

[code]

How to fix this error or it's solang translate bug?

Thanks.

[2022-01-03 10:31] #617 closed

[2022-01-03 14:29] seanyoung commented on #607
I think three parts are needed:
- [x] Implement `.writeUint16LE()` and friends on `bytes` so we can encode the spl input
- [ ] Make the accounts accessible so that we can extract the total supply via `tx.accounts[]` builtin
- [ ] Make it possible to specify the accounts on a call

[2022-01-04 16:08] taquangtrung commented on #584
Hi @seanyoung, I'm sorry for being inactive over the last month. Now, I finally can find some time to work on this issue.

Ideally, I want to make Solang be able to generate enough debugging information similar to what Clang does.

Here is an example of debugging information of a variable generated by Clang,
which captures detailed information of the variable's name, scope, file name,
line number,

[2022-01-04 21:30] shekhirin opened #620 "Multiline DocComments don't preserve newlines"
Source code:
[code]

Parse Tree generated from `solang::parser::parse()` function:
[code]

Expected Parse Tree:
[code]

---

Also not sure whether it's already possible or not but it would be cool to differentiate `///` from `/** ... */` for NatSpec comments.

[2022-01-05 13:01] mattsse commented on #620
that info seems to be available on the Token level
https://github.com/hyperledger-labs/solang/blob/1b231dc6986868d9c54af879bb40853bf6d9aa44/solang-parser/src/lexer.rs#L183-L184
but omitted here when the ast type `DocComment` is created:
https://github.com/hyperledger-labs/solang/blob/1b231dc6986868d9c54af879bb40853bf6d9aa44/solang-parser/src/doc.rs#L33
I also suspect that's where comments can be m

[2022-01-06 08:49] taquangtrung opened #623 "Error "Assertion `NumBits >= MIN_INT_BITS && "bitwidth too small'" failed" when compiling a smart contract"
Hi,

When compiling the following contract using this command:

[code]

using the command `solang incorrect_constructor_name3.sol --emit llvm-bc --target ewasm`, I encountered this error:

[code]

Can you advise how to make Solang to compile it successfully?

(FYI, I can compile this contract normally with Solidity compiler (Solc) version 0.8.11)

Thanks!

[2022-01-06 10:10] seanyoung commented on #623
Looks like this is an issue introduced by https://github.com/hyperledger-labs/solang/pull/322

I'm looking at it now

[2022-01-06 11:01] #623 closed

[2022-01-06 16:23] #620 closed

[2022-01-06 17:18] taquangtrung commented on #623
@seanyoung: Thank you for the quick fix! Solang can compile that contract perfectly now!

[2022-01-07 08:06] shekhirin opened #625 "Support parsing regular comments"
Currently, only NatSpec comments are parsed into `DocComments`.

To be able to fully reconstruct the code from Parse Tree, we need to add support for regular comments (both line `//` and block `/* */`) to grammar and other places.

[2022-01-07 08:11] shekhirin opened #626 "Support array slice operator"
Currently, `solang` can only parse subscript on arrays (e.g. `arr[0]`) without an ability to take a slice.

Slices were [added](https://blog.soliditylang.org/2020/05/26/array-slices/) in Solidity 0.6.0 and have several forms:
- `arr[2:5]`
- `arr[2:]`
- `arr[:5]`
- `arr[:]`

[2022-01-07 09:47] seanyoung commented on #626
Yes, this feature is missing.

[2022-01-07 10:43] gakonst commented on #625
+1 would be v useful to have that, the PR linked above is a code formatter which needs to preserve doc comments even if they're not natspec

[2022-01-07 11:24] seanyoung commented on #625
I get it. I'm not sure how easy it is to add comments to the parse tree of an LR(1) parser, since they can occur almost anywhere.

Let me see what I can dig up

[2022-01-07 11:34] #626 closed

[2022-01-09 09:02] shekhirin opened #631 "Support parsing missing assembly statements"
Currently, in assembly blocks, only statements such as variable declarations, assignments and function calls are supported. There are some missing ones according to doc: https://docs.soliditylang.org/en/v0.8.10/grammar.html#a4.SolidityParser.yulStatement.

Stumbled upon it trying to parse such snippet:
[code]
which crashed with such error:
[code]

[2022-01-09 11:08] taquangtrung opened #632 "Solang flags an error on integer conversion which isn't reported by Solc"
Hi,

I tested Solang with the following contract but encountered an error on integer conversion.

[code]

error:

[code]

FYI, the contract can be compiled by Solidity compiler solc-0.8.11.

Can you check if this issue can be fixed in Solang?

Thanks!

[2022-01-09 11:25] taquangtrung commented on #632
I realized that Solang has an option `--math-overflow` to enable math overflow check, and maybe this feature is turned on by default.

Is this possible to add a flag to disable it?

[2022-01-09 11:34] shekhirin opened #633 "Support try statements without low-level catch clause"
Currently such code
[code]
can't be parsed due to error
[code]

---

The reason for this is that we have mandatory low-level catch: https://github.com/hyperledger-labs/solang/blob/190f7205dd2ec50f8d930741785a79e6ddf0148b/solang-parser/src/solidity.lalrpop#L741-L746
However, code with only `catch Error` clause compiles fine.

[2022-01-11 09:05] taquangtrung commented on #632
I investigated again and see that the problem is not due to `math-overflow` check, but is due to the check of implicit type casting in module `sema/expression.rs`:

[code]

For example, here is a part of `cast`'s body which reports the conversion errors

[code]

Now, I am thinking of adding a flag like `--no-implicit-type-conversion-chec` to disable that feature.

But I see that the `Options` data

[2022-01-14 16:39] #633 closed

[2022-01-15 10:59] #631 closed

[2022-01-16 11:30] shekhirin opened #639 "Reserved keywords collision in Yul assembly"
Such snippet
[code]
can't be parsed due to
[code]
error. The reason for this is that `return` is a reserved keyword in Solidity but just a regular function in Yul.

This is an issue similar to https://github.com/hyperledger-labs/solang/pull/636#pullrequestreview-853224787, i.e. requires separation of Yul and Solidity keywords to prevent such collisions.

[2022-01-16 16:09] seanyoung commented on #639
So I have been thinking about this problem for some time. I would like it to be possible to specify amounts like `1 sol` or `50000 lamports` for Solana, without introducing new keywords.

The lalrpop parser has a separate lexer, so this is hard to work around. One way is not make `return` a keyword, and then parse `return ...` as `Identifier ...` and then check if the identifier is `return`. This

[2022-01-16 16:29] shekhirin commented on #639
@seanyoung thank you for the extensive explanation!

I think that **for us and formatter purposes** having a separate parsing pipeline for `return` keyword is a better workaround than using other parser such as `tree-sitter`. I understand however that you might not be willing to add this since parsing `assembly` isn't critical for your goals at all. I think I'll look into it and figure out whether

[2022-01-16 16:39] seanyoung commented on #639
On the contrary, yul assembly is very important for solang.

That's an interesting idea.

Ok, let's try and make this work, that's fine. In the mean time, I'll be investigating tree-sitter as well.

[2022-01-17 11:23] seanyoung commented on #632
See https://github.com/hyperledger-labs/solang/pull/637#pullrequestreview-854258378

[2022-01-17 11:24] seanyoung commented on #625
I think the grammar will need entries everywhere where comments are permitted. This will be hard to do without making the grammar ambiguous.

[2022-01-17 11:24] seanyoung commented on #589
All the features are enabled on testnet (not devnet!) now.

[2022-01-17 11:24] #589 closed

[2022-01-18 09:49] taquangtrung opened #641 "llvm-dis fails to disassemble bitcode file generated by Solang for a smart contract"
Hi,

When testing Solang with this smart contract `FibonacciBalance.sol`, I observed that the output bitcode file `FibonacciBalance_deploy.bc` cannot be disassembled by `llvm-dis`.

Here is the smart contract:

[code]

and here is the compilation command and the error when running `llvm-dis`

[code]

On the other hand, if I run the command `solang --target ewasm FibonacciBalance.sol --emit llvm-ir

[2022-01-18 18:25] seanyoung commented on #639
I'm working on this at the moment, I'm trying a few different ways of doing this. May take a few days

[2022-01-19 07:34] taquangtrung opened #642 "Error "thread 'main' panicked at ..." when compiling a smart contract"
Hi,

I'm testing Solang with a smart contract named `rubixi.sol`, but encountered the error like:

[code]

Can you help to check this issue? Here is the smart contract source code:

[code]

[2022-01-19 08:18] taquangtrung opened #643 "Error when compiling `if` statement in Solidity's assembly code"
Hi,

I encountered the error the following error related to `if` statement inside this assembly code:

[code]

Here is the detailed error:

[code]

And below is the smart contract `parity.sol`.
Can you check this issue too? Thank you!

[code]

[2022-01-22 07:42] Abubakar672 commented on #589
Can we deploy the contract of solang on mainnet of solana ?

[2022-01-22 09:13] seanyoung commented on #589
@Abubakar672 not yet, we're waiting for the features to stabilize on testnet/devnet (i.e. see more testing). I'm sure in a month or two those features will be enabled

[2022-01-22 10:08] Abubakar672 commented on #589
sounds great thanks @seanyoung

[2022-01-23 10:14] shekhirin commented on #643
I think it was fixed in https://github.com/hyperledger-labs/solang/pull/636, however latest `solang-parser` version on https://crates.io/crates/solang-parser doesn't include these changes yet. We need @seanyoung to publish new release 😄

[2022-01-23 11:06] onbjerg opened #645 "Support parsing decimal numbers with exponents"
It doesn't seem like `solang-parser` can handle decimal numbers like `1.8e18`. See [here](https://docs.soliditylang.org/en/v0.8.11/grammar.html#a4.SolidityLexer.DecimalNumber).

This currently makes some files in https://github.com/reflexer-labs/geb unparseable for Foundry since we use `solang-parser` to get the version requirements for files, and they use these numbers in their tests

[2022-01-24 10:22] #645 closed

[2022-01-26 21:45] DanBokhari98 commented on #607
Is this still within your end of January Timeline? Thank you :)

[2022-01-29 18:00] taquangtrung commented on #643
@shekhirin: I saw that there is a directory `solang-parser` here: https://github.com/hyperledger-labs/solang/tree/main/solang-parser

Won't it be used directly for the compilation of Solang?

[2022-01-30 12:16] #642 closed

[2022-01-31 11:11] #641 closed

[2022-01-31 14:32] #632 closed

[2022-01-31 16:04] seanyoung commented on #643
@taquangtrung yes, you are right, solang uses the parser in the directory `solang-parser` directly. So, now solang can *parse* the if statement, but it still does not support assembly statements:

[code]

[2022-01-31 17:26] seanyoung commented on #489
Fixed in https://github.com/hyperledger-labs/solang/pull/606/commits/8faa9192cbc5188a8a6f30640c7b7e2aaeb720f0

[2022-01-31 17:26] #489 closed

[2022-01-31 17:28] seanyoung commented on #607
@DanBokhari98 some other issues came up with the parser. I'm afraid it will take a little longer.

Having said that, large parts have been implemented now. We need a method for passing in accounts to a CPI call. With that in place, all the spl-token glue code can be written.

Done by the end of Feb, promise :)

[2022-01-31 17:30] seanyoung commented on #639
This is turning out to be quite painful.

[2022-02-01 05:20] taquangtrung commented on #642
@seanyoung: wonderful! Thank you for the patch!

[2022-02-01 05:21] taquangtrung commented on #641
@seanyoung: awesome! Thank you for fixing this bug!

[2022-02-01 09:43] seanyoung commented on #639
After all of that I had a rather obvious insight this morning. We can fix it with the existing parser generator.

[2022-02-01 11:20] seanyoung commented on #639
Fixed in #652

[2022-02-01 11:20] #639 closed

[2022-02-01 12:25] shekhirin opened #654 "Allow more types of expressions in ternary operator"
It's allowed to have assignments in both sides of ternary operator, e.g.
[code]
(example from https://github.com/reflexer-labs/geb/blob/master/src/test/single/SingleGlobalSettlement.t.sol#L171-L173)

Currently solang can't parse such expressions
https://github.com/hyperledger-labs/solang/blob/1023c224a15bdaa0bd5f2cdb458e13d06fc00414/solang-parser/src/solidity.lalrpop#L258

[2022-02-01 16:53] #654 closed

[2022-02-01 16:56] seanyoung commented on #643
@taquangtrung can we close this issue?

solang needs more work to support assembly statements, but this is a separate issue, right?

[2022-02-02 07:42] taquangtrung commented on #643
@seanyoung: Thanks for fixing the issue! Yes, I can close the issue. I'll open a new one when testing with assembly code.

[2022-02-02 07:42] #643 closed

[2022-02-03 16:42] seanyoung commented on #625
Implemented in #656

[2022-02-03 16:42] #625 closed

[2022-02-07 12:46] Kenun99 opened #658 "Now we can generate eWASM smart contracts from EVM bytecode"
I implement an EVM-to-eWASM bytecode translator that can ensure the fidelity of translation. EVM bytecode contracts now can run in eWASM runtime directly. I also build a local blockchain and test the eWASM contracts. The results look nice. It is surprise that we can generate accurate LLVM bitcode even we do not have source code.
Check [https://github.com/Kenun99/ethsema](https://github.com/Kenun99

[2022-02-10 03:20] laizy opened #660 "can not parse non-ascii utf8 code comment."
[code]

[2022-02-10 09:17] seanyoung commented on #660
@laizy would you mind posting the source code you were trying to compile? It's hard to see the problem without it.

[2022-02-10 11:11] #660 closed

[2022-02-15 11:28] leyafo opened #665 "Where did the `mapping` data store?"
Hi, Everyone. I've successfully compiled the `ERC20` contract with solang. Here is my contract deploying and calling code.
[code]
The function `transfer` has been executed successfully and I can get the balance of `recipient`. But I'm confuesd about the data storage. Solana's contract are seprated with data and code. The `state` during the contract executing are saved in solana's Account. I've che

[2022-02-15 17:53] athei opened #666 "Cross contract passes wrong `AccountId` to `seal_call` on substrate"
Please refer to this posting for further information: https://substrate.stackexchange.com/questions/202/calling-the-function-of-an-other-contract-in-solidity

I posted an answer there with the results of my debugging results: Solang somehow passes the wrong `AccoundId` to `seal_call`. I verified that by debugging output in the node.

[2022-02-16 02:30] graphmyworkatgit opened #668 "Support to convert ".sol" file to solana using Docker"
I am working on Solang (docker container installed) on windows machine,  as per instructions  provided in below link.

https://solang.readthedocs.io/en/latest/running.html#running-solang-using-container

solang from Docker works fine:

![image](https://user-images.githubusercontent.com/78626677/154184978-b8d0c475-329d-4450-9634-5a7d9b705d5d.png)

then to generate files, I used below command

docke

[2022-02-16 08:13] seanyoung commented on #668
I think you should be doing:

[code]

[2022-02-16 18:39] graphmyworkatgit commented on #668
thanks

Thanks a ton.! it worked! I am glad to connect with you!

[2022-02-16 18:39] #668 closed

[2022-02-16 22:29] BlockchainDeveloper009 opened #672 "Unable to deploy filesl flipper.abi & bundle.so generated using solang to solana network"
As per the instruction, i compiled 'flipper.sol' using solang and that generated 'flipper.abi' & 'bundle.so' files. Then I created flipper.js file

https://solang.readthedocs.io/en/latest/targets.html

am facing below error:

![image](https://user-images.githubusercontent.com/97905727/154367889-1554eae4-e6db-42e1-8ea4-e38a08534d33.png)

Project files(bundle.so,flipper.abi) generated using solang(c

[2022-02-17 13:30] GataKamsky commented on #582
Any updates on adding CosmWasm support?

[2022-02-17 15:35] seanyoung commented on #582
@sushi-shi have you made any progress?

[2022-02-17 18:03] seanyoung commented on #672
You need run up a solana node to connect to.
[code]

[2022-02-18 14:01] rzmay opened #675 "Unable to call `.send` within a loop while targeting Solana"
I'm building a Solana program to manage payments to multiple accounts, however the compiler fails whenever a `.send()` call is made within a loop. For example, the following code compiles just fine:
[code]
But the following code throws an error:
[code]
`LLVM ERROR: Unsupported dynamic stack allocation`

I've also tried using `.transfer()` and `.call()`, all throw the same error. Is this behavior u

[2022-02-18 14:05] seanyoung commented on #675
This is an issue with code generation

[2022-02-18 14:53] seanyoung commented on #675
I can't reproduce this issue on solang latest. What version are you using? `solang --version`

[2022-02-19 01:54] rzmay commented on #675
This appears to only be an issue with the cargo version of solang -- I rebuilt the executable from the git repository, and not only did this build display a version number correctly (`solang version v0.1.9-143-g56047c4`) but it also compiled the program with no issues. My problem is resolved for now, I'll leave this issue open in case the cargo release needs to be investigated. Feel free to close

[2022-02-21 09:18] seanyoung commented on #675
The cargo version is also v0.1.9 so this will also have the same problem.

Thanks for using solang

[2022-02-21 09:18] #675 closed

[2022-02-21 09:18] #672 closed

[2022-02-23 19:32] NicolasWent opened #678 "LLVM ERROR: Unsupported dynamic stack allocation on "transfer""
Hello,

I have an issue on transferring solana. I have the latest version of Solang.

Here is the smart contract:
[code]

Then I run

It outputs:

Can someone help me with that please? There was also a related issue on stack overflow: https://stackoverflow.com/questions/71174709/solang-compiler-fails-when-sending-lamports-within-a-loop-targeting-solana

[2022-02-23 20:16] h4nsu opened #679 "msg.sender provides wrong AccountId on substrate"
(seems to me like this could be related to #666)

I'm using solang 0.1.9 installed via cargo from crates.io and a custom substrate node (https://github.com/Cardinal-Cryptography/aleph-node/tree/smartnet) which is based on substrate 4.0.0-dev. It looks like `msg.sender` is providing an incorrect value. This is my minimal example:
[code]
When I call that function from some address and provide the sa

[2022-02-25 18:33] seanyoung commented on #678
@NicolasWent this solidity should compile fine with latest main. It does not work with solang 0.1.19

[2022-02-25 19:05] NicolasWent commented on #678
Thank you very much, it is working now :)

[2022-02-25 20:43] #678 closed

[2022-02-28 04:17] javamr123 commented on #607
Has it been completed？

[2022-03-01 15:23] LucasSte commented on #679
Hi @h4nsu ,
Please check [this](https://github.com/hyperledger-labs/solang/pull/682) PR. I added your example contract to our mock VM for Substrate test and our integration tests with Substrate. Everything seems to be working as expected.

I also tested your contract on Substrate's interface and see that the returned addresses aren't equal. Perhaps, this is a issue with Substrate's UI interface. D

[2022-03-04 09:56] seanyoung commented on #607
I am afraid not! :grimacing: All the new syntax is in place, but there is an issue where the array of accounts that needs to be passed into the CPI call is an array of pointers to structs, not just a plain array of structs. This is some difficult rework, which I've been working on here https://github.com/hyperledger-labs/solang/pull/685

The spl-token is top priority and I'm not working on anythin

[2022-03-07 09:05] cassc opened #689 "'not implemented' error when trying to compile to `ewasm`"
When trying to compile to the following contract using `solang --target  ewasm test.sol`

[code]

I got this error,

[code]

[2022-03-07 10:23] seanyoung commented on #689
dup #166

[2022-03-07 10:23] #689 closed

[2022-03-07 10:39] seanyoung commented on #541
@leyafo sorry I missed your comment, @LucasSte reminded me.

The storage data layout is very blockchain dependant, and meta-data needs to be generated for each.

For Parity Substrate, metadata is produced for most data types here https://github.com/hyperledger-labs/solang/blob/main/src/abi/substrate.rs#L367-L388

For ewasm, we need to generate metadata like the `storageLayout` in https://docs.soli

[2022-03-07 10:50] seanyoung commented on #584
Yes, exactly. Now `Loc` is an enum which can be either `Builtin` or `File(usize, usize, usize)`. The first `usize` is an index into the `files` array from `Namespace`, which will give you the full path and other bits of information. The second usize is the byte offset where the location starts and the last/third usize is the byte offset where the location ends.

You can convert the byte offset to

[2022-03-07 17:08] taquangtrung commented on #584
Thanks @seanyoung for the suggestion! I have been working on this issue recently. Your suggestions are very helpful. I'll try to create a draft PR in the next few days.

[2022-03-08 12:25] LucasSte commented on #679
Hello @h4nsu,
I added the tests you suggested [here](https://github.com/hyperledger-labs/solang/pull/690). Our CI tests passes as well.
Do you have any suggestion of integration tests we should be testing to recreate your issue?
Integration tests deploy a Solang compiled contract into Substrate and allow us to call its methods. Have a look at the test I added for your issue on my last PR:
https://

[2022-03-13 21:26] mattsse opened #696 "custom error reverts unsupported by solang-parser"
Stumbled upon this when looking at this for example https://github.com/withtally/rollcall/blob/main/src/Executor.sol

which solang-parser fails to parse at the parentheses

https://github.com/withtally/rollcall/blob/6ffdcffc41ba163a83a93f1b03c97815b6e49fa4/src/Executor.sol#L28

I couldn't find where "revert" is implemented so would need some pointers where to modify lalrpop rules for this before I

[2022-03-14 07:52] s-h-ubham opened #697 "Getting unexpected token error while deploying contract on substrate"
The contract i am trying to deploy on substrate is an inherited contract, i don't know if it is the issue or not because its parent contract is deploying without an issue, i am attaching the screenshot of the error:

![Unexpected token  in JSON at position 0](https://user-images.githubusercontent.com/98087338/158127952-38479528-6472-4b6b-adfa-7fbe6ea764dd.png)

[2022-03-14 09:56] #697 closed

[2022-03-14 11:23] seanyoung commented on #696
Right, this syntax is not supported yet. The syntax `error UNDERLYING_CONTRACT_REVERTED();` is supported, but the syntax to revert with an error is not: `revert UNDERLYING_CONTRACT_REVERTED();`

To make this work:
- Introduce a new keyword `revert` in lexer.rs
- Introduce a new statement `Revert(Loc, Expression)` in the parse tree (just like `Emit()`)
- Where `"emit" <ty:FunctionCall>` is parsed i

[2022-03-14 12:06] seanyoung opened #698 "Support custom errors"
Ethereum Solidity 0.8 introduces a new syntax for custom errors.

sema changes:
- Using the `error Foo(int,string)` type syntax, custom errors can be declared. These need resolving in sema, which should be identical to event definition parsing
- Resolve `revert Foo(12, "bar")` type syntax. Again this should be very similar to `emit` resolving.
- The error defined in another contract be used using

[2022-03-14 17:00] jjordan-quantum opened #699 "Program log: call to account not in transaction"
Is it possible to make a mutative call to an external already deployed program by address?
(specifically on solana blockchain)
Please see my issue here in the solana-solidity repo:
https://github.com/solana-labs/solana-solidity.js/issues/24

[2022-03-16 11:39] seanyoung commented on #699
This issue is answered here https://github.com/solana-labs/solana-solidity.js/issues/24

[2022-03-16 11:39] #699 closed

[2022-03-16 17:34] #696 closed

[2022-03-19 07:50] extraymond commented on #679
@LucasSte
I think it might possible pallet-contract now takes a salt argument. And the integration test uses old pallet-contract code, which didn't have that as a option, also the polkadot-js api used in integration tests didn't take that salt argument either.

This is my related substrate so issue.
https://substrate.stackexchange.com/questions/714/cross-contract-call-failure-when-using-different-

[2022-03-19 14:27] aj3423 opened #705 "How to use "--import-path" with "--language-server"?"
I'm using solang with Neovim, succeeded to get it work with normal diagnostic. But how to import other contracts?

My contract uses openzeppelin like:
[code]
My command line: `solang --language-server --target solana -I /e/sol/node_modules`,  and the file does exist in "/e/sol/node_modules/@openzeppelin/...".

What do I miss?

[2022-03-19 15:08] seanyoung commented on #705
I think there is  a  bug in solang. I am not sure it uses the `--import` command line option at all in the language server. I'll get back to you.

[2022-03-21 11:10] seanyoung commented on #679
@extraymond this issue here does not use the instantiate contract api call.

[2022-03-21 12:38] #705 closed

[2022-03-21 13:11] extraymond commented on #679
@seanyoung Ah! I mistakenly remember this issue being the one related to issue666. I'll move my comment there!

[2022-03-21 13:12] extraymond commented on #666
I think it might possible pallet-contract now takes a salt argument. And the integration test uses old pallet-contract code, which didn't have that as a option, also the polkadot-js api used in integration tests didn't take that salt argument either.

This is my related substrate so issue.
https://substrate.stackexchange.com/questions/714/cross-contract-call-failure-when-using-different-salt-to-in

[2022-03-23 12:59] seanyoung opened #707 "compiler message for overloaded functions is not great"
Given this solidity:
[code]
The error message you get is:

[code]
That is not useful. The error message should list the overloaded functions which were tried, and the error message for each of them.

The same handling should be used for overloaded constructors when deploying a new contract.

[2022-03-25 03:39] extraymond commented on #666
Some update on playing with the test case of issue666, I've tried different ways to generate salt and seems the one used by polkadot.js might be the culprit, I tried the following with subxt, as a comparison with directly using polkadot.js app's contract tab

1. salt = account::nonce -> passed
2. same as prior to the above pr, salt = Runtime::Hashing::hash(input_data.encode()) -> worked, although

[2022-03-25 10:41] LucasSte opened #712 "Improve tooltip and clickable links"
### Raison D’être
The Solang compiler has a VSCode extension that allows developers to visualize errors and warnings directly on the editor. This extension works, but needs many improvements to become useful for everyone.

### What needs to be done?
Some things are missing from the current VSCode extension. The tooltip does not support function definitions and inline assembly. In addition, we woul

[2022-03-27 09:47] seanyoung opened #713 "compile-time constant evaluation limitations"
The evaluation of compile-time constants has a few limitations:
- There are no checks for overflowing arithmetic, i.e. `uint8 constant x = 128 + 128;`
- There is no support for comparisons or ternary operators, i.e. `1 > 0 ? 100 : 10`.
- Array literals and subscript is not supported: `255 + [1, 2, 3][1]`
- Struct literals and member is not supported:
[code]
- Rationals should support ternary too:

[2022-03-27 09:57] seanyoung opened #714 "visual studio code extension needs references/definitions"
The visual studio code extension gives compiler diagnostics (i.e. compiler warnings and errors). For functions, variables, and all other types (events, contracts, etc) it should be able to:
- Go to definition
- Go to type definition
- Find references
- Find all references
- Rename (and rename all the references)

[2022-03-27 20:22] seanyoung opened #715 "solang needs to be available as an npm package"
Right now solang cannot be compiled to wasm due to #497, so for now this library should work much like [tree-sitter-cli](https://www.npmjs.com/package/tree-sitter-cli) which downloads the release executable from github releases download.

The second part of this task is to make the npm library work just like [solc](https://www.npmjs.com/package/solc). The `solang --standard-json` should accept jso

[2022-04-03 12:40] mattsse opened #724 "publish solang-parser 0.1.11"
the latest patch is not published on crates.io.

could you please publish it?

Thanks!

[2022-04-03 13:06] seanyoung commented on #724
of course, let me do that now!

How are you getting on with the formatter? Is there somewhere we can follow/help with your work?

[2022-04-03 13:12] mattsse commented on #724
Thanks!

wip here https://github.com/gakonst/foundry/pull/889
but not the highest priority atm but aiming to finish this in the upcoming weeks.

the trickiest part will probably formatting comments, not quite sure how to handle them yet

[2022-04-03 13:12] #724 closed

[2022-04-03 13:28] seanyoung commented on #724
published

[2022-04-06 10:06] m7aswin commented on #715
Hi @seanyoung , how can I install and run command solang. I have tired different method explained in doc: https://solang.readthedocs.io/en/latest/installing.html . currently running commands using ./solang-mac-intel binary

[2022-04-06 10:21] seanyoung commented on #715
This is not relevant to this issue. However, what problems are you having? What commands did you try and what is the output?

[2022-04-06 21:14] extraymond commented on #666
I've added a test against substrate-contract-node.
https://github.com/extraymond/substrate-contracts-node/tree/solang-test-0.12.0/runtime

All four types of salt value in the cross-contract calls test case can be executed without issues, which is really weird considering doing this from the UI will always show ContractTrapped. Hopefully this is a bug from the front-end.

@athei If you have the fre

[2022-04-08 12:38] extraymond commented on #666
Some updates on my tests:
For comparison, I've added ink/solidity cross contract tests, and the good news is that all 4 direction works regardless of how the salt is generated.
Directions being sol-call-ink, ink-call-sol and sol-to-sol and ink-to-ink.

I do observed some mismatches around the schemas between ink contracts and the one solang generated:
1. ink contracts group their abi under path of

[2022-04-08 16:02] seanyoung opened #728 "dead storage pass generates incorrect code for contract"
[code]
f() should return 1,2 but it returns 1,1. Looks like the dead storage elimination pass is doing something wrong here.

[2022-04-08 16:33] seanyoung opened #729 "codegen expression should know if result is not used"
if `fn expression()` in codegen knew that the result was not used, then:
 - any assignment does not need to copy the result into a variable
 - expressions like `n++` does not need to copy the original variable into a temp

[2022-04-08 19:29] LucasSte commented on #729
If we implement a liveness analysis pass, we can perform dead code elimination and solve this :)

[2022-04-08 20:20] seanyoung commented on #729
Well, it could be done that way. However, I think with some simple changes, we can eliminate a whole bunch of temporaries to begin with. This makes un-optimized cfg more readable.

[2022-04-09 14:35] LucasSte commented on #729
I know that adding a check there is quicker. However, if we keep adding these simple checks, we'll make our `fn expression` too complex and difficult to maintain. It might be a nightmare to adapt the compiler to a new Solidity sytax if we need to know exactly what each check do.

Concentrating everything in a liveness analysis pass is simpler, becuase it does not require any change if we adapt the

[2022-04-11 06:52] ntrippar opened #731 "Error in sema parsing contract"
I found that parsing this contract ends in a stack overflow.
[code]

this seems to be when its casting the `StorageRef(false, Bytes(32))` to  `Ref(Bytes(32))`

[code]
based on the result that I was getting with some debug prints in the function `cast` I noticed that the function checks if the `to` needs a `Ref`, and try creates a `Ref` from the `from`.  this cause an infinite loop.

https://github

[2022-04-11 14:14] ntrippar commented on #731
Also do the project has a "repo" with a lot of testcases?, if not I would recommend that the project should have one with a lot of sol files named `{github_issue_id}.sol` an a `{github_issue_id}.json` with some information that can do continuous test to check if there is any regression of a bug.  or something in broken

[2022-04-11 20:26] seanyoung commented on #731
There are a whole bunch of testcases in the tests/ directories, including over 500 sol files.

[2022-04-11 20:27] seanyoung commented on #731
Looks like the casting is broken in this situation. That bit of code is a bit ugly, it might need some re-work. We will add this example as a testcase once fixed

[2022-04-11 21:34] Alex-Werner commented on #582
Is someone currently working on this ? Has someone already requested a grant to perform such work ?

[2022-04-11 21:58] ntrippar commented on #731
ah great, I will fill some more issues with other bugs that I found using solang.

[2022-04-11 22:25] ntrippar opened #732 "Error in sema type when getting bits of Ref(Uint(N))"
When parsing the code fails with `type not allowed Ref(Uint(N))` this is due that the function `pub fn bits(&self, ns: &Namespace) -> u16` is not handling `Ref`

https://github.com/hyperledger-labs/solang/blob/4a463652125127f42f88b151c4f28bcd8d86eaef/src/sema/types.rs#L910-L923

## Testcase

[code]

[2022-04-12 11:48] LucasSte opened #733 "Variable of type function crashes LLVM"
When building the following contract for the Solana target:
[code]

LLVM crashes with the following error:
[code]

[2022-04-12 13:09] seanyoung commented on #732
Thanks for a good quality bug report!

[2022-04-12 21:05] ntrippar commented on #731
also I think this following case also is wrong as end also in a stack overflow

[code]

https://github.com/hyperledger-labs/solang/blob/5da5377b6fce0d1aec98fa58041a4126540a226d/src/sema/expression.rs#L552-L562

and should be something like

[code]

**Testcase**

[code]

[2022-04-13 07:43] seanyoung commented on #582
@Alex-Werner as far as I am aware, no one has applied for a grant yet.

[2022-04-14 10:02] seanyoung commented on #666
@extraymond that is very interesting. Either solang never generated the correct metadata in the first place, or the metadata has changed somewhat.

Would be possible to amend the metadata generation in solang? The contract-metadata crate in solang also needs updating to 1.0, see https://github.com/hyperledger-labs/solang/blob/main/Cargo.toml#L30

Let me know if I can help in any way.

[2022-04-14 10:21] extraymond commented on #666
@seanyoung

Thanks! I'm currently comparing solang's metadata generation behavior with cargo-contract ATM.
At the moment what I found different between solang's metadata and cargo-metadata is in the `spec` field.

It appears to me that the internal of spec is somewhat tight to the development of ink. When cargo-contract generate the `spec` field, it import `ink-metadata` and assumes the project wa

[2022-04-14 12:28] seanyoung commented on #666
Yes, I would agree with that. Right now I think ink! and solang are the only producers of the metadata format. This may change in future as more languages are added.

Last time I looked, `ink_metadata` was not usable for this, so I hand-coded the metadata format in solang. There is some shared code in the `contract-metadata` crate but that does not include the types.

I'm not sure what the right s

[2022-04-14 13:43] seanyoung commented on #666
I had another idea. Rather than forking/updating ink_metadata, how about moving some structures into contract_metadata for generating the type metadata, for example the registry. This could then be re-used by both ink_metadata and solang (pending agreement/design of course).

[2022-04-14 13:45] athei commented on #666
I think the ink! team would be happy to restructure the crates so that they can be used by other projects. I am just not an expert on metadata. Maybe you can open an issue there and state what would be necessary from your site so that you can use it as-is?

[2022-04-14 23:04] alcuadrado opened #744 "Files with \r\n can be incorrectly tokenized"
Hi,

I just noticed that this file is tokenized incorrectly, and I have a strong suspicion that it's because it has `\r\n` end lines. In particular, it has some inside comments.

[9d694731f6291f4553fad6b8174e7c915e6219ec_TigerBNB.sol](https://github.com/hyperledger-labs/solang/files/8492764/9d694731f6291f4553fad6b8174e7c915e6219ec_TigerBNB.sol.txt)

If you compile it with `solc` the `pragma solidi

[2022-04-15 09:09] extraymond commented on #666
@athei  @seanyoung

Taking from the discussion above, can I summarize it into actions needed below?
1. `ink`: extract `ink-metadata` out of the metadata generation process of `cargo-contract` and expose inner types to public
2. `solang`: replace bits in the generation of `spec` using the extracted crate above

[2022-04-15 09:13] seanyoung commented on #666
I think what @athei is suggesting is to open an issue on the ink! repo and start a discussion there.

[2022-04-15 09:14] extraymond commented on #666
Got it, let me continue on there and sync back once something clicks.

[2022-04-15 09:26] seanyoung commented on #666
Please put @seanyoung in the issue or link it here, thank you!

[2022-04-15 13:45] alcuadrado commented on #744
@seanyoung, I found more files that break like this. In case they are helpful, I'm posting them here:

[54bef7b75e1bec4594ecbc8caad54328d653f5c1_Spark.sol.txt](https://github.com/hyperledger-labs/solang/files/8496215/54bef7b75e1bec4594ecbc8caad54328d653f5c1_Spark.sol.txt)
[71d0e03abd2b4b4fb9ef73d4c6f35a650124791e_BabyRock.sol.txt](https://github.com/hyperledger-labs/solang/files/8496216/71d0e03abd

[2022-04-15 15:22] seanyoung commented on #744
Great, thank you very much! I'll go through them and make sure they parse.

[2022-04-15 15:32] alcuadrado commented on #744
btw, I'm lexing the whole [smart-contract-sanctuary repository](https://github.com/tintinweb/smart-contract-sanctuary) and comparing the results with those of [`@solidity-parser/parser`](https://www.npmjs.com/package/@solidity-parser/parser). It should be done by tomorrow. I'll let you know if I find more issues.

[2022-04-15 19:48] shekhirin opened #746 "Support parsing user-defined types"
Currently, parsing of [user-defined types](https://docs.soliditylang.org/en/v0.8.12/types.html#user-defined-value-types) are not supported.

Snippet:
[code]

Solang error:
[code]

[2022-04-16 20:30] #746 closed

[2022-04-17 13:36] alcuadrado commented on #744
As promised, here are all the files from the sanctuary that caused errors:

[failures.zip](https://github.com/hyperledger-labs/solang/files/8501746/failures.zip)

[2022-04-17 14:30] seanyoung commented on #744
Thank you!

[2022-04-19 09:23] springrainroni commented on #589
When i try to connect the network on testnet it shows on airdrop "429 Too Many Requests:  {"jsonrpc":"2.0","error":{"code": 429, "message":"Too many requests from your IP, contact your app developer or support@rpcpool.com."}, "id": "2d037c66-c515-4b67-ac37-5f832622313d" }" and
when i try to connect on devnet it shows error "Transaction was not confirmed in 30.01 seconds. It is unknown if it succee

[2022-04-19 14:44] seanyoung commented on #589
Solana devnet is having problems, this should be resolved soon. Please check solana discord #devnet-announcements

[2022-04-19 17:20] #733 closed

[2022-04-19 17:20] #732 closed

[2022-04-20 07:27] seanyoung commented on #731
Fixed in #738

[2022-04-20 07:27] #731 closed

[2022-04-20 11:30] LucasSte opened #754 "Overflow checking in constant arithmetic"
There should be overflow checking in arithmetic operations using constants.
E.g. `uint8 = 128 + 128` should raise an error.

Ideally, this check can be done in function `eval_const_number` in `src/sema`.

[2022-04-20 11:38] LucasSte opened #755 "Comparisons should support constants"
There is no support for constants in comparisons. So things like `0 < 1` do not work yet. Ideally, this can be created in `src/sema` and the comparison can be evaluated in compile time.

[2022-04-21 04:50] s-h-ubham opened #758 "Not able to deploy contract on substrate after compiling it successfully"
I have written a basic NFT smart contract in solidity and compiled it using solang, it is compiled successfully for target substrate but while deploying the contract it is showing error **Cannot read properties of undefined (reading 'toLowerCase')**, is it a problem with solang compiler or substrate chain. I have attached the screenshot of issue.

![Screenshot from 2022-04-21 10-16-35](https://use

[2022-04-25 12:16] LucasSte opened #762 "Cannot find local function when creating state variable."
When creating a function pointer variable as an attribute of a contract, I can assign it a function of the contract itself. For instance, the following contract does so and works in solc.

[code]

However, Solang raises the following error:
[code]

[2022-04-26 08:04] seanyoung commented on #758
I imagine this is a dup #666

Would you mind sharing the solidity code please?

[2022-04-26 09:16] seanyoung commented on #762
The order in which functions/variables are resolved is broken. The variables are resolved before functions, so when we resolve the initializer the function `testPtr` does not exist yet.

It gets more complicated:
[code]

[2022-04-26 14:29] #762 closed

[2022-04-27 07:05] s-h-ubham commented on #758
This was my solidity code @seanyoung

`// SPDX-License-Identifier: MIT
pragma solidity ^0.8.7;
// pragma solidity >=0.6.0 <0.8.0;
 interface IErc20{

    event Transfer(address indexed from, address indexed to, uint256 indexed tokenId);
    event Approval(address indexed owner, address indexed approved, uint256 indexed tokenId);
    event ApprovalForAll(address indexed owner, address indexed opera

[2022-04-27 10:44] Sandeep-Narahari opened #768 "Not able to execute transferFrom function of NFT in substrate"
I have deployed a NFT smart contract on substrate, except from transferFrom every other function is working fine, i have approved an account but still transferFrom is not working. I am attaching the screenshot of error

![Screenshot from 2022-04-27 16-00-37](https://user-images.githubusercontent.com/46187761/165501351-adbc7b06-ac22-49f1-8ca1-c2754913f1d5.png)

[2022-04-27 10:45] Sandeep-Narahari commented on #768
Code for tranferFrom is
`
  function transferFrom(
    address _from,
    address _to,
    uint256 _tokenId
  )

    external
    override
  {
    //address tokenOwner = idToOwner[_tokenId];
    address tokenOwner = idToOwner[_tokenId];
    address operator=idToApproval[_tokenId];
    require((msg.sender==tokenOwner || msg.sender==idToApproval[_tokenId]) ,NOT_OWNER_APPROVED_OR_OPERATOR);
    requi

[2022-04-28 13:22] LucasSte opened #773 "External function call fails for Solana Target"
This contract
[code]

Fails at this assertion (in debug mode):
https://github.com/hyperledger-labs/solang/blob/ea6def90364640889c388f311fcafbe63ef6e8f0/src/emit/solana.rs#L2968

[2022-04-29 10:55] LucasSte opened #776 "LLVM crashes when building contract"
While testing one of the contracts from #744 , I found that LLVM crashes in the following contract.

[code]

[2022-04-29 10:55] LucasSte commented on #776
This is the error I get:
[code]

[2022-04-29 10:57] LucasSte opened #777 "Constant folding enters unreachable code"
While testing one of the contracts of #744 , I found out that constant folding enters unreachable code with the following error:

[code]

[code]

[2022-04-29 11:29] LucasSte opened #779 "Error message for "now" is wrong"
In this contract,
[code]

I get this error: `'now' is not found`, however I should be given instructions to change `now` to `block.timestamp`.

[2022-04-29 11:33] LucasSte commented on #776
This contract causes the same error:
[code]

[2022-04-29 12:14] LucasSte opened #780 "Cannot find overloaded function"
The following contract works on solc, however solang cannot find an overloaded function for
[code]

[code]

[2022-04-29 13:35] seanyoung commented on #779
The emit code should resolve its arguments with `ResolveTo::Type(ty)` with the correct `Type`. Currently it does not do that.

[2022-04-29 16:19] seanyoung commented on #780
The issue is that `virtual` functions in `abstract contract` don't seem to exist for external function calls. They should be treated similarly to interface.

A small reproduction:
[code]

[2022-04-30 16:31] johnda98 opened #783 "not helping Solana's ease of install.. - all steps followed successfully - https://solang.readthedocs.io/en/latest/installing.html"
all steps followed successfully - https://solang.readthedocs.io/en/latest/installing.html

admin@Admins-MacBook-Pro-2 downloads % solang
zsh: command not found: solang
admin@Admins-MacBook-Pro-2 downloads % echo $PATH
/Users/admin/downloads/llvm13.0/bin:/Users/admin/.local/share/solana/install/active_release/bin:/Users/admin/.nvm/versions/node/v16.13.1/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/s

[2022-04-30 16:56] johnda98 commented on #361
it would help if the solang-mac-intel binary doesnt download and appear as a 'document' file type

[2022-04-30 21:44] johnda98 commented on #783
update.. do the binary no good.. so i built it as per inst.. after rust install via brew

git clone https://github.com/hyperledger-labs/solang/
cd solang
cargo build --release

[2022-05-01 10:21] deepaktrama opened #785 "Unable to initialize empty mapping as described in solidity documentation"
Unable to initialize empty mapping as described in solidity documentation. Using solana.
campaigns[campaignID] = Campaign(beneficiary, goal, 0, 0); gives error on line 25 - "struct 'Campaign' has 5 fields, not 4"
Also tried using curly brace syntax and still getting an error.
Will appreciate it if someone can let me know how to work around this.

Complete code below, it is just copied from solidit

[2022-05-01 11:52] HebrewDev commented on #785
Talk to Solana Support on the [Live support page](https://sol-community.com/) so that your issue can be looked into.

[2022-05-01 19:51] deepaktrama opened #786 "Be clear on solana support"
Thanks for adding solana support and keeping it open source. It will help accelerate solana dev.
However it's not clear if this is ready for production on solana or is it really very alpha/work in progress.

https://solang.readthedocs.io/en/latest/targets.html just mentions a few differences (excerpt below), reading this I assumed it was ready for prime time use.
Request you to please correct me i

[2022-05-01 20:26] seanyoung commented on #786
@deepaktrama Solana support is very new, and has not been widely tested (as it is new). There are two developers working on Solang full-time, both are employed by Solana Labs, and Solana support is our priority.

Solana support should be working. solang does lack spl-token support and cannot to call non-solidity contracts, we are working on this.

There are some issues that need addressing, we wil

[2022-05-03 07:18] #783 closed

[2022-05-03 07:36] seanyoung commented on #785
This syntax was permitted in older versions of solc (up-to 0.6) but it is no longer permitted in 0.7 and later.

[code]

solc made this change in commit https://github.com/ethereum/solidity/commit/d41eaeba5686828b85279057f3a7da8be0f9a8f9

I can't find a good explanation why solc permitted this earlier and now does not. I think we need to dig out solc reasons for this before we would permit somethi

[2022-05-03 09:38] seanyoung commented on #776
This is a problem with the dead storage pass. This the smallest reproduction I can make:

[code]
Compile with either target substrate/ewasm.

The cfg:
[code]
So the problem is that the length is retrieved from slot 0, and the later the entire array of slot 0. Dead storage assumes they can be merged because they load from the same slot. However, it's an different type so it should not do this.

@Lu

[2022-05-03 09:56] cameel commented on #785
See https://github.com/ethereum/solidity/issues/7739 for more context, though it does not look like the whole reasoning was documented in detail.

Overall this change is just a part of the general trend of making things more explicit in the language. The fact that the mapping is skipped and not magically copied is not necessarily obvious to users and could lead to bugs.

[2022-05-03 10:36] seanyoung commented on #785
Thanks, that is super helpful.

I think the right think to do here is give an helpful message like the solc compiler does.

There is a way around the issue for the bug submitter.

[code]

[2022-05-03 10:40] seanyoung commented on #786
I think we should add some words to the documentation around:
- what works today
- what it being worked on
- what sort of support can you expect

@deepaktrama would that be what you had in mind?

[2022-05-03 11:20] deepaktrama commented on #785
@seanyoung I don't see how you can create a new Campaign object using the code you wrote above, it looks like you are updating an existing campaign instance, Please correct me if I figured it wrong :p

[2022-05-03 11:39] deepaktrama commented on #786
@seanyoung yes, those are good points and I also suggest to add below points with reference to SOLANA which will help increase confidence and help adoption.

- Known issues / things which are not working currently (i.e. which solidity syntax/features/functions/apis do not currently work)
- How developers may have to write code differently for solana than what's already written for ethereum
- A ref

[2022-05-03 11:55] LucasSte opened #789 "LLVM crashes when building for Solana"
The following contract crashes LLVM when targeting Solana. It works, however, if we target Substrate.

[code]

Error:
[code]

[2022-05-03 14:32] seanyoung commented on #714
@Web3Foundation can you please approve @theboywhomakesgames, thank you.

[2022-05-03 14:43] seanyoung opened #791 "solang needs to accept solidity standard json as input"
When `solang --standard-json` is run, the output from the compiler is in the [standard json](https://docs.soliditylang.org/en/v0.8.13/using-the-compiler.html#compiler-input-and-output-json-description) format. However, the input is not.

1) Parse input on stdin as json using the [standard json](https://docs.soliditylang.org/en/v0.8.13/using-the-compiler.html#compiler-input-and-output-json-descript

[2022-05-03 14:44] seanyoung commented on #791
This feature is needed for #715 so that the json input can be used from javascript.

[2022-05-03 14:47] #728 closed

[2022-05-04 18:43] #776 closed

[2022-05-04 19:01] LucasSte commented on #777
The simplest failing contract I could find was this one:
[code]

[2022-05-05 09:46] seanyoung commented on #785
Contract storage just magically appears when you write to it. No need to "allocate", that's implicit.

[2022-05-05 12:30] seanyoung opened #795 "allow base contracts to be specified via import path"
[code]

The parser cannot deal with this, neither can sema.

Found by #787

[2022-05-05 15:29] LucasSte commented on #777
Fixed with #796.

[2022-05-05 15:29] #777 closed

[2022-05-05 15:31] LucasSte opened #797 "Compiler enters unreachable code when building for Solana"
The following contract enters unreachable code when we build it for Solana:

[code]

The error is the following:
[code]

[2022-05-05 17:52] deepaktrama commented on #785
@seanyoung thanks for the clarification.
I updated the function like you have described above but when i build it (solang --target solana flipper.sol -v) it gives me the error -  thread 'main' panicked at 'internal error: entered unreachable code', src/emit/mod.rs:6315:38

updated function below
==================
    function newCampaign(address beneficiary, uint goal) public returns (uint campai

[2022-05-05 19:17] seanyoung commented on #785
Oh dear that looks bad. That's definitely a bug. :disappointed:

[2022-05-05 19:24] seanyoung opened #798 "expected "else""
Found by #787

[code]

[2022-05-05 19:28] seanyoung opened #799 "function storage variable can be immutable"
Found by #787
[code]

[2022-05-06 05:41] shekhirin opened #801 "Allow `using` for library through module"
[code]

Currently, parser cannot deal with it:
[code]

found by https://github.com/hyperledger-labs/solang/pull/787

[2022-05-06 05:48] shekhirin opened #802 "Allow `using` for list of file-level or library functions"
[code]

Currently, parser cannot deal with it:
[code]

found by https://github.com/hyperledger-labs/solang/pull/787

[2022-05-06 06:02] shekhirin opened #803 "Support `global` modifier for `using` directive"
[code]

Currently, parser cannot deal with it:
[code]

found by https://github.com/hyperledger-labs/solang/pull/787

[2022-05-06 06:02] shekhirin opened #804 "Allow `using` on Source Unit level"
According to the Solidity doc, it's allowed to have a `using` directive on Source Unit level: https://docs.soliditylang.org/en/v0.8.13/grammar.html#a4.SolidityParser.sourceUnit

found by https://github.com/hyperledger-labs/solang/pull/787

[2022-05-06 09:14] #804 closed

[2022-05-06 12:57] LucasSte opened #807 "LLVM Crashes when building contract"
The following contract crashes LLVM, when building for target ewasm.

[code]

The error is the following:
[code]

[2022-05-06 13:28] LucasSte opened #808 "Solang does not allow the deletion of memory array"
This contract works on Solc, however fails for Solang:

[code]

The error is the following:

[code]

[2022-05-06 13:31] LucasSte opened #809 "Solang does not implement address.code"
This contract works on Solc, but fails on Solang

[code]

The error is the following:
[code]

[2022-05-06 13:43] LucasSte opened #810 "Solang does not allow assignment to array"
This contract works on Solc, but fails on Solang.

[code]

The error is the following:
[code]

[2022-05-06 14:06] LucasSte opened #811 "Function override does not work in Solang"
The function overriding is not working for the following contract:

[code]

The error is the following:

[code]

[2022-05-06 14:10] LucasSte opened #812 "Parser does not handle comments correctly"
This is a very specific example, but the following (drawing) comment makes the compiler fail if placed after a contract.

[code]

The error is the following:
[code]

[2022-05-06 14:17] LucasSte opened #813 "Inkwell crashes when building for Solana and Substrate"
The following contract crashes Solang when we target Solana or Substrate. It works however on solc and on Solang for ewasm.

[code]

The error is the following:
[code]

[2022-05-07 21:06] seanyoung commented on #801
Fixed by #806

[2022-05-07 21:06] #801 closed

[2022-05-08 09:44] seanyoung commented on #795
Fixed  by #806

[2022-05-08 09:44] #795 closed

[2022-05-09 14:20] #812 closed, assigned to nobody

[2022-05-09 19:44] #802 closed

[2022-05-10 06:58] seanyoung opened #818 "Parser does not accept `int[] memory x = (new int[])(3);`"
Found in #787

[2022-05-10 07:06] seanyoung opened #819 "Negative power cause solang to panic"
[code]

Found in #787

[2022-05-10 07:08] seanyoung opened #820 "Method on literal number does not parse"
`52.foo()` does not parse

[code]

Found in #787

[2022-05-10 07:10] seanyoung opened #821 "cannot have struct named error"
[code]

Found in #787

[2022-05-10 07:24] seanyoung commented on #820
The issue here is that the lexer fails on `42.`, with the error `expected number after decimal point`. Rather than returning an error, it should return tokens `42` and `.`.

However the lexer currently uses [peekable](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.peekable) which only allows it to do lookahead by one character. We need a different method of doing lookahead.

[2022-05-10 13:53] LucasSte commented on #789
The simplest failing example is the following:

[code]

[2022-05-10 13:57] #820 closed

[2022-05-10 17:34] #819 closed

[2022-05-10 18:34] LucasSte opened #827 "Mutability check is failing"
The following contract works on solc, but fails on Solang:

[code]

Errors:

[code]

[2022-05-10 18:43] seanyoung commented on #827
I guess storage variables are exchanged, but no actual load/store is done.

[2022-05-11 08:09] seanyoung opened #828 "assembly memory-safe not parsed"
[code]
Found in #787

[2022-05-11 09:04] cameel commented on #828
Note that currently there's also a Natspec annotation that has the same effect:
[code]
Though it's just a temporary solution for backwards compatibility and in the long term it will be removed.

See [Memory safety](https://docs.soliditylang.org/en/latest/assembly.html?highlight=memory-safe#memory-safety).

[2022-05-11 11:23] seanyoung opened #829 "`uint[1.111111E1111111111111]` cause infinite loop in compiler"
The lexer tries to calculate `10**1111111111111 `, which takes a a long time. Note that each decimal would take up 1 byte, then that would be 1TiB of memory (!).

The lexer should not attempt to calculate the number and leave that up to sema, because we don't want the lexer to fail.

Found in #787

[2022-05-11 11:43] shekhirin commented on #829
that's how `solc` handles it:
[code]

[2022-05-11 11:45] #789 closed

[2022-05-11 11:45] LucasSte commented on #789
Fixed by #825 .

[2022-05-11 12:27] LucasSte opened #830 "We should not give up resolving imports"
Solang gives up resolving imports if one of them fails. When we build [this contract](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC721/ERC721.sol) from OpenZepellin, Solang fails on `Address.sol` and does not even parse `Context.sol`. This creates inconsistent error messages when we try to resolve the main file.

[2022-05-12 16:20] #829 closed, assigned to seanyoung

[2022-05-13 15:43] devratapuri commented on #707
Is this still open ?

[2022-05-13 16:39] LucasSte commented on #773
Fixed by #835 .

[2022-05-13 16:39] #773 closed

[2022-05-14 05:57] devratapuri commented on #791
@seanyoung I will like to take this issue so what exactly I need to do can you guide me as it is my first time

[2022-05-14 07:31] seanyoung commented on #791
The json format is described in the [solc documentation](https://docs.soliditylang.org/en/v0.8.13/using-the-compiler.html#compiler-input-and-output-json-description).

The output format is already implemented. The input format needs implementing.

The output format is described here: https://github.com/hyperledger-labs/solang/blob/main/src/bin/solang.rs#L20-L41
There will need to be an a similar d

[2022-05-14 07:33] seanyoung commented on #707
yes, the errors are still like above

[2022-05-14 13:47] seanyoung commented on #830
We can change the code to continue importing even if a previous import had an error.

The same file might be imported twice, and we should not produce duplicate errors for the same file.

[2022-05-18 11:58] #818 closed

[2022-05-19 05:37] bshevchenko commented on #714
Got it 👌🏻

[2022-05-19 05:37] bshevchenko commented on #714
@Web3Foundation @seanyoung got it 👌🏻

[2022-05-19 17:34] #807 closed

[2022-05-23 11:57] seanyoung commented on #821
Fixed by https://github.com/hyperledger-labs/solang/pull/843

[2022-05-23 11:57] #821 closed

[2022-05-23 15:07] LucasSte opened #845 "LLVM crashes when building for Solana"
The following contract crashes LLVM:
[code]

The error is the following:
[code]

[2022-05-23 15:45] LucasSte commented on #813
This is the simplest failing contract:

[code]

[2022-05-23 19:33] z79422957 opened #847 "compatible solidity 0.8"
Hi,
When will solang be compatible with solidity 0.8? Are there any rules here? Thank you!

[2022-05-24 09:38] seanyoung commented on #847
Actually, I think all the functionality for 0.8 is there. There are some gaps like some yul builtins, but these are not 0.8 specific.

[2022-05-24 09:45] seanyoung commented on #847
@z79422957 is there a specific reason you are asking for this?

[2022-05-24 11:21] z79422957 commented on #847
Oh, thanks, I am a novice of solang. I want to use solang to make Solana, but my previous sol files was solidity version 0.8.
I have another question. When I export wasm or BPF file, how should I deploy it later? Thank you

[2022-05-28 02:42] mouseless-eth opened #852 "inline assembly is not yet supported"
Using solang as an LSP for my neovim set up. Getting an error around my assembly block in one of `.sol` contracts. Is there any way to suppress this message? I want to import my contract (the one containing the assembly block) in another contract but solang does not recognize the import because of this one warning/error.

**Error Message** : inline assembly is not yet supported

Example of the ass

[2022-05-28 03:02] mouseless-eth commented on #852
Rebuilt my solang executable using `LucasSte:yul-cfg-expression`'s branch but looks like there is still no support for the `extcodesize` opcode

[2022-05-28 12:17] Kenun99 commented on #658
https://github.com/ethsema/ethsema-paper

[2022-05-28 13:00] seanyoung commented on #852
@mouseless-eth what are you using solang language server for? solang does not have support for `extcodesize` yet.

Where do you intend to run your compiled contracts? evm ethereum or one the solang targets?

[2022-05-28 14:47] mouseless-eth commented on #852
I am using the solang language server in conjunction with [neovim's built in LSP plugin](https://github.com/neovim/nvim-lspconfig) for error checking, completions, format checking, ...

I am targeting the ethereum EVM by using the command `solang --language-server --target ewasm`

[2022-05-28 15:41] seanyoung commented on #852
Adding support for `extcodesize` isn't that hard, it just means wiring it up to the [getExternalCodeSize](https://github.com/ewasm/design/blob/master/eth_interface.md#getexternalcodesize) syscall. However, I am not sure if this a good long term solution, because there will be other syscalls which may not be so easy to implement.

[2022-05-30 13:25] #607 closed

[2022-05-31 14:44] xbladesub opened #856 "Switch compiler version"
How to switch compiler version to 0.6.4 for example? I use solang in neovim

[2022-05-31 15:58] seanyoung commented on #856
There is no switch for the compiler version. Tries to support the syntax from many different compiler version, so there is no need to switch compiler version.

If you are having problems with a specific type of syntax, let us know.

[2022-05-31 15:58] #856 closed

[2022-06-01 13:59] #813 closed

[2022-06-01 17:06] drewstone commented on #658
Is there a link to an implementation?

[2022-06-01 17:08] drewstone opened #858 "Generating an executable function/contract from EVM bytecode?"
Is it possible to pass raw bytecode into the Solang compiler and outgoing a WASM blob that can be executed in a standard rust program?

We have a Solidity smart contract that we've created using raw EVM assembly. We'd like to execute a function on this contract in Rust. The thinking is to first compile this contract into eWASM using Solang and then somehow execute it in Rust (in a WASM sandboxed e

[2022-06-03 18:59] LucasSte opened #859 "Dynamic array of array fails when pushing"
The following contract works on Solc, but fails on Solang:

[code]

The error is the following:
[code]

[2022-06-03 19:05] LucasSte opened #860 "Memory dynamic arrays do not behave correctly"
The following contract should work on Solang. Were the vector saved in storage, the contract would work on Solc.

[code]

The error is the following:
[code]

[2022-06-06 13:18] onahornyak opened #861 "delete from mapping throw thread panic error at Solang"
Hello,

This contact work for solidity, but for solang throw "thread 'main' panicked" at `delete example[id];`

[code]

thread 'main' panicked at 'Found ArrayType(ArrayType { array_type: Type { address: 0x55a57c6b1390, llvm_type: "[32 x i8]" } }) but expected the IntType variant', /root/.cargo/registry/src/github.com-1ecc6299db9ec823/inkwell-0.1.0-beta.4/src/types/enums.rs:390:13
note: run with `R

[2022-06-08 14:45] LucasSte commented on #861
Thanks for reporting this. I'll have a look at the problem, and I'll get back to you.

[2022-06-08 14:48] #845 closed

[2022-06-08 14:53] seanyoung commented on #847
The documentation is updated to reflect that solang is now compatible with 0.8.

To deploy the contract, please the `@solana/solidity` npm package, see
https://github.com/solana-labs/solana-solidity.js/

[2022-06-08 14:53] #847 closed

[2022-06-08 14:55] seanyoung commented on #858
solang itself does not know anything about EVM, so this is currently not possible using solang. This is not something we're planning to do.

I think there is an evm to wasm converter, see #658

[2022-06-08 14:55] #858 closed

[2022-06-08 20:33] LucasSte commented on #861
I've found a fix already: #865.

[2022-06-09 10:30] onahornyak commented on #861
Perfect. I will wait for this fix

[2022-06-09 20:26] #861 closed

[2022-06-10 09:30] davidleng0x0 commented on #811
Maybe you will meet error soon  "error: conversion to bytes1 from uint256 not allowed".
Error code:

    function _toString(uint i) internal pure returns (string memory c) {
        if (i == 0) return "0";
        uint j = i;
        uint length;
        while (j != 0) {
            length++;
            j /= 10;
        }
        bytes memory str = new bytes(length);
        uint k = length - 1;

[2022-06-10 10:27] LucasSte commented on #811
You have declared `i` as `uint`, which means it is a 256-bit integer. When you do `48 + i % 10`, the compiler will cast all numbers to the widest integer available to avoid truncating the response, so the result will be a 256-bit integer too.

256 bits are 32 bytes, so there is no way to convert 32 bytes into 1 bytes without losing information. This is what the error means. If you are sure there i

[2022-06-10 16:56] LucasSte opened #867 "Inkwell crashes when building contract"
The following contract crashes Inkwell when compiling for Solana and Substrate

[code]

[2022-06-10 16:57] LucasSte opened #868 "LLVM crashes when building contract"
The following contract crashes LLVM when building for Solana and Substrate:

[code]

[2022-06-10 16:58] LucasSte commented on #867
I'm getting this error:

[code]

[2022-06-10 16:58] LucasSte commented on #868
I'm getting this error:

[code]

[2022-06-11 12:25] #828 closed

[2022-06-12 15:40] oblx commented on #809
Same here while compiling an ERC721.

Did you find a workaround @LucasSte ?

[2022-06-13 02:44] davidleng0x0 commented on #867
I got this error too.

    thread 'main' panicked at 'Found ArrayType(ArrayType { array_type: Type { address: 0x1dff8cddc90, llvm_type: "[32 x i8]" } }) but expected the IntType variant', C:\Users\runneradmin\.cargo\registry\src\github.com-1ecc6299db9ec823\inkwell-0.1.0-beta.4\src\types\enums.rs:390:13

[2022-06-13 03:05] davidleng0x0 commented on #811
It passed when i convert byte to uint8 and set length equal 100.But new problem coming in remix.ethereum.org.

Code:

    // SPDX-License-Identifier: GPL-3.0

    pragma solidity >=0.7.0 <0.9.0;

    contract Test{
        function _toString(uint i) public pure returns (string memory c) {
            if (i == 0) return "0";
            uint j = i;
            uint length = 100;
            while (

[2022-06-14 10:31] LucasSte commented on #811
The contract you pasted works fine with Solang. I've tested that. `remix.ethereum.org` utilizes the Solc Ethereum compiler, which works quite differently from Solang. This is the reason for the error!

If your goal is to make the contract work with solc, then just exchange that line for `str[k--] = bytes1(uint8(48 + i % 10))`.

[2022-06-14 11:15] LucasSte commented on #809
We haven't found a solution yet. Can you provide more details on what you're trying to achieve? We are certainly can find a way around.

If you are interesting in creating NFTs for Solana, for instance, you need to use the SPL-token integration and not ERC721. You can find more information about how to use the SPL-token on Solana and Solang [here](https://solang.readthedocs.io/en/latest/targets/so

[2022-06-14 11:21] oblx commented on #809
Hi and thanks for your answer !
I was dumbly trying to convert an erc721 contract and switch to solana like I was always there. But no, definitely no.

Thanks for the doc, I definitely need more knowledge before deploying on solana :)

[2022-06-15 05:54] davidleng0x0 commented on #811
It worked when i add bytes1 convert to  uint8.

Thanks~

[2022-06-15 15:32] seanyoung opened #874 "Add seeds parameter to external calls/constructor calls"
When calling a contract deployed on account data on a PDA, we need to able to provide the seeds on external call. This should be an external argument.

[2022-06-15 15:34] seanyoung opened #875 "Make `uint` default to `uint64` rather than `uint256`"
The default size for `int` and `uint` is currently 256 bits. This is very inefficient on all the chains we support.

We should change the default for solidity and yul.

How much contract breakage will we have? Is this a bad idea?

[2022-06-15 15:41] seanyoung opened #876 "On Solana, `msg.sender` and data account should be passed via account metas, not input"
When calling a solidity contract, the data account and sender account is passed in the input.

Use the account metas instead. The first two entries should be:
1. Account data - the solidity data account being *called*. This should be writeable if desirable
2. The account marked as the sender, this translates into `msg.sender` in Solidity

Open questions:
The `msg.sender` may not take part in the t

[2022-06-15 15:43] seanyoung commented on #875
On Wasm, pointers are 32 bit. Will this break stuff?

[2022-06-15 17:04] onahornyak opened #877 "Calling of add and delete from mapping cause storage leak and "account data too small for instruction" error"
After multiple calling of add to mapping and delete from mapping, smart contract has storage leak. Look like Key-values pairs are not deleted after calling delete example[id]; but nullified and consume storage. That lead to "account data too small for instruction" error after some 'add' iteration.

Example contract:

[code]

short js script(full scripts is attached):
Expected behavior:
'while' wit

[2022-06-16 09:19] LucasSte commented on #875
In Solang, `uint rr = uint(address(this));` works fine. How are we going to handle this on Solana, where addresses are 256-bit wide and `uint` is 64-bit wide?

[2022-06-16 10:16] seanyoung commented on #875
Of course it is possible to write code that breaks if we change the default type of `uint` and `int`. We should be concerned about actual existing code that people use that will break. To paraphrase, what will users complain about if we change this?

[2022-06-16 10:47] LucasSte commented on #867
This is the smallest failing contract:

[code]
We should not allow the conversion between `int[]` and `int[4]`.

[2022-06-16 13:36] Genysys commented on #791
@devratapuri are you still doing this? If not I would love to take it out.

[2022-06-16 13:36] LucasSte commented on #868
This is caused by the same problem as in #867.

[2022-06-16 14:48] seanyoung commented on #877
@onahornyak super interesting, definitely looks like you found an issue. Thank you for the great bug report!

[2022-06-16 15:00] seanyoung opened #881 "Refactor loading and storing storage variables"
Complex types (e.g. loading arrays of structs) has complex code gen. The code for accessing storage variables has the following problems:

 - [ ] Code generation is done in the emit phase, not codegen. This makes the various instructions and expressions for storage vars very  complex and they do not take part in our optimizer passes
 - [ ] Storage variables on Solana are available on Solana, there

[2022-06-16 16:47] #827 closed

[2022-06-17 10:56] LucasSte commented on #785
@deepaktrama I found a fix for this problem here: #882. As soon as the PR is merged, please, let us know if you can finish what you're trying to do.

[2022-06-18 15:00] LucasSte opened #883 "The Mac pre-compiled binary does not work"
If we download the pre-compiled binary for Mac, MacOS does not allow us to run it.

[code]

[2022-06-18 15:36] seanyoung commented on #883
mac/intel? which version of macos?

[2022-06-18 15:52] LucasSte commented on #883
MacOS 12.2 using ARM. I believe that this is something Apple enforces on all computers. I can try myself when I arrive home.

[2022-06-18 15:55] seanyoung commented on #883
Have you followed the instructions? https://solang.readthedocs.io/en/latest/installing.html#download-release-binaries:

On MacOS, remember to remove the quarantine attribute using xattr -d com.apple.quarantine solang-mac-arm in the terminal.

[2022-06-18 19:35] #867 closed

[2022-06-18 19:35] #868 closed

[2022-06-21 08:31] seanyoung commented on #808
Not sure what `delete` on memory arrays is supposed to do: on solc, there is no heap, so memory can't be freed.

A quick test suggests that the `delete` statement above is just a no-op in solc.

We should check the solc source for this.

[2022-06-21 13:55] seanyoung commented on #877
I found the issue. `mapping` is implemented as a hashmap, and there is an  key entry in the hashmap which is not deleted by `delete`. Definitely an oversight.

[2022-06-21 14:05] seanyoung commented on #797
The eth abi encoding does not know how to encode external function types.

This is not easy/possible to implement on Solana. Eth abi encoding encodes this into 32 bytes: 20 bytes for address, and 4 bytes for the function selector. On Solana, we already use 32 bytes for address, so we need to use a different encoding, which won't be compatible with the eth abi encoding libraries. I guess we could e

[2022-06-21 20:53] LucasSte commented on #797
@seanyoung Yes, this is why I haven't touched this issue.

[2022-06-22 12:53] #860 closed

[2022-06-22 13:12] LucasSte commented on #883
Yes, this totally solves the installation issue. I'll update the documentation to make it clear that this command is needed for both Intel and ARM Macs.

[2022-06-22 14:05] #859 closed

[2022-06-22 17:37] LucasSte opened #889 "LLVM crashes when building contract"
Solang crashes when building the following contract for Substrate and Solana. The contract works with solc, though.

[code]

The error is the following:
[code]

[2022-06-23 08:00] seanyoung commented on #889
So the problem here is invalid LLVM IR generated by solang, which causes an assertion failure in llvm.

"LLVM crashes" sounds dramatic is not very descriptive.

[2022-06-23 08:16] seanyoung commented on #889
I can't reproduce this issue on the main branch either.

[2022-06-23 10:58] LucasSte commented on #883
Updated documentation with #888.

[2022-06-23 10:58] #883 closed

[2022-06-23 13:09] LucasSte commented on #889
My branch was too far behind main. After rebasing, this worked.

[2022-06-23 13:09] #889 closed

[2022-06-23 14:18] #830 closed

[2022-06-23 14:31] seanyoung opened #892 "contract tests should include checks for specific parse results"
Currently, the tests in `tests/contract_testcases/` just generate the ast dot file for each test.

It would be useful if the tests included some more verification. For example https://github.com/hyperledger-labs/solang/blob/main/tests/contract_testcases/solana/structs/parse_structs_06.sol tests that struct recursion is detected.

We should have some additional information in the test which verifie

[2022-06-23 14:54] #852 closed

[2022-06-28 05:10] OnahProsperity opened #897 "When connected through docker on which port do i run local host."
Having issues for some days now running local host after connecting via docker, and deploying to testnet kept reverting due to block number even after I have used third party API (ANKR), so the question now is:
1. how to fix the block number timeout.
2. How to run local host with docker.

[2022-06-28 17:31] mlfbrown commented on #755
Hi there! I'd like to work on this issue but I have a couple questions first:
(1) From what I can tell, Solang doesn't currently support the 'constant' keyword. Is that the case, or am I missing something? If so happy to add.
(2)  Really cursory testing and code examination suggests that constant folding also doesn't fold expressions like "bool x = 2 < 5." I'll implement this too, unless e.g., it'

[2022-06-30 11:15] LucasSte commented on #755
Hi @mlfbrown, thanks for your message!

We support the constant keyword, but I mistakenly typed the wrong syntax the issue description. The proper way to use this is `bool constant x = 0 < 2;` I have updated the description already.

Solidity only supports constants at contract level or outside them. The evaluation of their value is done during an AST traversal in Solang, not in constant folding.

[2022-06-30 17:52] mlfbrown commented on #755
Great, thanks for the info.

This is actually what was getting me on constant keyword support, not your syntax!

I'll definitely keep constant folding changes to a separate PR. Thanks!

[2022-07-01 13:30] seanyoung commented on #714
@bshevchenko have you made any progress on this bounty?

[2022-07-01 16:53] LucasSte opened #903 "Multidimensional arrays crash LLVM"
This contract works fine for `solc`, but crashes on Solang (for all targets):

[code]

[2022-07-01 16:54] seanyoung commented on #897
For the first issue, this most likely happens when uploading the `bundle.so` contract code. It is possible to use `solana program deploy -ut bundle.so` and the use the program account from the output.

For the second one, just run:
[code]
Replace `podman` with `docker` if you want to use docker.

Does that help?

[2022-07-01 16:56] LucasSte commented on #903
This is the error I get:
[code]

[2022-07-05 11:32] #897 closed

[2022-07-05 13:42] seanyoung commented on #897
I think I need some more details about what you are trying to do, my guessing isn't getting us anywhere. Can you please provide some steps please?

[2022-07-05 15:27] OnahProsperity commented on #897
sure do that as soon as I get back.

[2022-07-05 16:03] OnahProsperity commented on #897
so I have been interacting with the Solang using docker this way, `docker run --rm -it -v $(pwd):/sources ghcr.io/hyperledger-labs/solang solana --version` in other to get the version and currently running on version
`solang version v0.1.12-13-g4dcdcdb8`
OS = attached
![image](https://user-images.githubusercontent.com/40717516/177365478-0711ab16-4373-44bf-a1cb-b5d73e48d575.png)

my flipper.js look

[2022-07-05 16:05] OnahProsperity commented on #897
I hope with this information you have a clue of what I am talking about.
following this doc: [doc](https://soliditydeveloper.com/solana) and the [Solang](https://solang.readthedocs.io/en/latest/index.html) doc

[2022-07-05 17:48] seanyoung commented on #897
If you want to connect to a local solana node, you need to change `testnet` to `http://localhost8899/`

[2022-07-05 18:47] OnahProsperity commented on #897
yea sure, aware of that.
tried it and I got `FetchError: request to http://localhost:8899/ failed, reason: connect ECONNREFUSED 127.0.0.1:8899` that was why I was looking forward to try connecting to dev net.

[2022-07-06 14:59] ascjones opened #908 "'lld/Common/Driver.h' file not found"
Cannot build directly from `cargo build` or `cargo install` because of this missing header file https://github.com/hyperledger-labs/solang/blob/c046e64db8890d0db83d65cbfd2bb0918b7ffd1e/src/linker/linker.cpp#L2.

Looking at the docker image it seems this header file might be coming from the `llvm13.0/bin` folder copied here https://github.com/hyperledger-labs/solang/blob/main/.github/Dockerfile#L36

[2022-07-06 15:56] seanyoung commented on #908
`lld/Common/Driver.h` is the header file for the llvm linker, lld, which solang uses as a library.

[2022-07-06 15:59] seanyoung commented on #908
It would be nice if we could somehow build llvm (including lld) automatically when you run `cargo build`. I haven't seen any way of doing this. Maybe https://crates.io/crates/llvmenv?

[2022-07-06 16:31] ascjones commented on #908
Yes of course, but it is assumed that it exists on the search path.

I've actually tried running this but it doesn't seem to solve the issue of having this header file on the search path?

[2022-07-12 14:53] LucasSte opened #915 "Export memcpy as a public symbol"
Our own `memcpy` function is not exported as a public symbol, preventing LLVM from liking it to its memory copy intrinsic function. We should set this up and update our function with this optimization:

https://github.com/solana-labs/compiler-builtins/blob/8be91a9c0b76193b0ac093ec32433d6ca508fe1b/src/mem/mod.rs#L281

[2022-07-13 08:25] xermicus opened #916 "Support `require()` messages in Substrate debug output"
Call `seal_debug_message` in `assert_failure`, to get messages from `require()` into the debug message buffer.

[2022-07-15 18:52] LucasSte opened #922 "Build the AST before running semantic analysis"
Currently, Solang checks the semantic correctness of the code while building the AST, i.e. it happens during a parse tree traversal. In some cases, we are not able to infer the correct semantic problem for following this approach. Issue #779 is an example for this.
We can improve the semantic analysis by building an AST from a parse tree and then traversing.

**Advantages**
 - More realistic error

[2022-07-15 18:53] LucasSte commented on #922
Please, @seanyoung and @xermicus, join the discussion!

[2022-07-15 19:06] LucasSte opened #923 "Solang's intermediate representation should use SSA"
Solang's intermediate representation does not use a static single assignment (SSA) form. This has introduced some ugliness in our code base. For instance, we have two three different implementations of reaching definitions: one for strength reduce, another for the vector to slice pass and a third one for all other optimization passes.

**Advantages**
- SSA renders reaching definitions unnecessary

[2022-07-15 19:06] LucasSte commented on #923
Please, @seanyoung and @xermicus, join the discussion!

[2022-07-16 07:41] seanyoung commented on #922
I was thinking about this last night. So, the idea is to have some data structure which you then afterwards "decorate" with resolved symbols and so on.

 - Currently the ast is a simple datastructure. This would have to become a lot more complicated with lots of `Option` fields which are `None` by default
 - A function call can be call to a builtin, a cast, call to member, etc. So one node will ha

[2022-07-16 09:14] seanyoung commented on #923
I think this is closer than we think: in CFG we already have phi nodes. We just need to vars assign-once

[2022-07-18 09:12] xermicus commented on #791
Hi @Genysys, are you still on it?

[2022-07-18 13:19] LucasSte opened #926 "Vectors make Solana's mock VM fail"
The following contract stems an error in our Solana's mock VM: `Err(AccessViolation(6740, Load, 18897868827, 4, "input"))`.

[code]

[2022-07-18 14:10] xermicus commented on #922
I think that ideally we would be able to walk the AST multiple times. It would bring improvements beyond better error handling/messages:

- Semantic checks could be split up (e.g. symbol table building, type checking, ...)
- Each semantic check could yield some dedicated output (e.g. a symbol table) that could be used throughout the following processing.
- This would mean that the AST never change

[2022-07-18 15:37] #779 closed

[2022-07-18 16:42] xermicus commented on #922
To get a better estimate on whether the effort would be worth it or, I think we should Track any issue that would benefit from a refactor here (like #779). Additionally we could perform a quick assessment of the current code base to get an idea how much room for improvement there is.

[2022-07-20 09:18] xermicus opened #930 "SMT Checks"
While browsing the solidity docs I came across it's [SMT based checks](https://docs.soliditylang.org/en/latest/smtchecker.html). I think we could implement this as well in the future.

[2022-07-20 17:27] LucasSte opened #932 "Make multidimensional arrays work"
Our support for multidimensional arrays is broken and the semantics Solidity uses for them is confusing.

Here are some facts to discuss:

1. I understand `int[4][2] vec` as a matrix of four rows and two columns, but in Solidity it is a two-element array of `int[4]`.
2. Should `vec[1]` index the last or the first dimension? Should it return `int[2]` or `int[4]`?
3. In Solidity, empty square bracke

[2022-07-20 17:42] xermicus commented on #932
What? I am 101% with you!

So it looks like the order how you access nested arrays is inverted? In that case vec[1] should return int[2].. What does solc produce in this case?

So this is bit mind stretching.. it means int[2][3][][4] would be 4 elements containing a dynamic number of 3 rows and 2 columns?

[2022-07-20 20:15] LucasSte opened #933 "Solang loads vectors from storage incorrectly"
[code]
Calling `getThis` after `addData` returns 6, instead it should return 1. If we modify `stor_arr` to `PaddedStruct[2][2][] stor_arr` and do all the necessary changes, `addData` returns 4. I think we are incorrectly merging the first two dimensions into one.

[2022-07-21 15:19] LucasSte opened #934 "Strength reduce function can be refactored"
@xermicus had a good idea to improve a function in strength reduce, as discussed [here](https://github.com/hyperledger-labs/solang/pull/921#discussion_r924998507).

[2022-07-21 17:44] LucasSte commented on #933
[code]
This returns 8 🤨

[2022-07-21 20:43] seanyoung commented on #934
Anyone can pick up this issue when they feel like it.

[2022-07-22 12:37] LucasSte commented on #932
This should work:
[code]

[2022-07-22 19:44] LucasSte commented on #926
Fixed by #928

[2022-07-22 19:44] #926 closed

[2022-07-24 10:04] yuwiggin opened #935 "compiled contract can not be deployed: InvalidStorageAccountError"
An issue may be related with [solana-labs/solana-solidity.js](https://github.com/solana-labs/solana-solidity.js/issues/31).

Any suggestion?

[2022-07-26 09:49] seanyoung commented on #932
I don't think we can change the syntax.
- We need to be compatible with ethereum solidity
- Introducing a switch for changing the order is even more confusing (now there are two ways of doign this)

Possibly we can introduce new syntax with sane ordering. I don't know what that would look like - any suggestions?